---
layout: default
title: pages.wallets.title
description: pages.wallets.description
---

{% include hero/wallets.html %}

{% include modals/win-core.html %}

{% assign desktop-os-collection = site.data.wallets-collection | where:"type","desktop" | group_by:"os" %}
{% assign mobile-os-collection = site.data.wallets-collection | where:"type","mobile" | group_by:"os" %}
{% assign hardware-wallets = site.data.wallets-collection | where:"type","hardware" %}
{% assign paper-wallets = site.data.wallets-collection | where:"type","paper" %}
{% assign security-wallets = site.data.wallets-collection | where:"type","security" %}

<div class="page page--wallets">

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-desktop-header %}</h3>
      <p>{% t pages.wallets.wallets-desktop-subtitle %}</p>
      <ul id="wallet-os-tabs" class="nav2 nav-pills bottom-space">
        {% for wallet-os in desktop-os-collection %}
          <li {%if forloop.first == true %}class="active"{% endif %}><a data-toggle="pill" href="#{{wallet-os.name}}">
            {% case wallet-os.name %}
              {% when 'win32' %}
                Windows
              {% when 'win64' %}
                Windows
              {% when 'osx' %}
                OSX
              {% when 'linux' %}
                Linux
              {% when 'ppa' %}
                PPA
              {% else %}
                Other OS
            {% endcase %}
          </a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
      {% for wallet-os in desktop-os-collection %}
        {% include wallet-tile.html %}
      {% endfor %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-mobile-header %}</h3>
      <p>{% t pages.wallets.wallets-mobile-subtitle %}</p>
      <ul id="wallet-mobile-os-tabs" class="nav2 nav-pills bottom-space">
        {% for wallet-os in mobile-os-collection %}
        <li {%if forloop.first == true %}class="active"{% endif %}><a data-toggle="pill" href="#{{wallet-os.name}}">
          {% case wallet-os.name %}
          {% when 'android' %}
          Android
          {% when 'ios' %}
          iOS
          {% else %}
          Other Mobile OS
          {% endcase %}
        </a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for wallet-os in mobile-os-collection %}
        {% include wallet-tile.html %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-hardware-header %}</h3>
      <p>{% t pages.wallets.wallets-hardware-subtitle %}</p>
      <div class="row">
        {% for wallet-os in hardware-wallets %}
        {% include wallet-tile.html %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-paper-header %}</h3>
      <p>{% t pages.wallets.wallets-paper-subtitle %}</p>

    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-security-header %}</h3>
      <p>{% t pages.wallets.wallets-security-subtitle %}</p>
    </div>
  </section>
</div>
