---
layout: default
title: pages.wallets.title
description: pages.wallets.description
---

{% include hero/wallets.html %}

<div class="page page--wallets">
  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-desktop-header %}</h3>
      <p>{% t pages.wallets.wallets-desktop-subtitle %}</p>
      <ul class="nav2 nav-pills bottom-space">
        <li class="active"><a data-toggle="pill" href="#windows">Windows</a></li>
        <li><a data-toggle="pill" href="#osx">OSX</a></li>
        <li><a data-toggle="pill" href="#linux">Linux</a></li>
        <li><a data-toggle="pill" href="#ppa">PPA</a></li>
      </ul>

      <div class="tab-content">
        <div id="windows" class="tab-pane fade in active">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
                  <button type="button" class="btn center-block" data-toggle="modal" data-target="#winDashCore">Open</button>
                  {% include modals/win-core.html %}

                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Electrum</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="osx" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Electrum</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="linux" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Electrum</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="ppa" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center"> Dash Electrum</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-mobile-header %}</h3>
      <p>{% t pages.wallets.wallets-mobile-subtitle %}</p>
      <ul class="nav2 nav-pills">
        <li class="active"><a data-toggle="pill" href="#android">Android</a></li>
        <li><a data-toggle="pill" href="#ios">iOS</a></li>
      </ul>

      <div class="tab-content">
        <div id="android" class="tab-pane fade in active">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Coinomi</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="ios" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Dash Core</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Coinomi</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Jaxx</h4>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="wallet-tile">
                <h4 class="text-center">Exodus</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-hardware-header %}</h3>
      <p>{% t pages.wallets.wallets-hardware-subtitle %}</p>
      <div class="row">
        <div class="col-xs-3">
          <div class="wallet-tile">
            <h4 class="text-center">Trezor</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="wallet-tile">
            <h4 class="text-center">KeepKey</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="wallet-tile">
            <h4 class="text-center">Ledger</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-paper-header %}</h3>
      <p>{% t pages.wallets.wallets-paper-subtitle %}</p>
    </div>
  </section>

  <section class="section">
    <div class="section__content">
      <h3>{% t pages.wallets.wallets-security-header %}</h3>
      <p>{% t pages.wallets.wallets-security-subtitle %}</p>
    </div>
  </section>

</div>
