@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/worksans-hairline-webfont.eot');
    src: url('../fonts/worksans/worksans-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans/worksans-hairline-webfont.woff2') format('woff2'),
         url('../fonts/worksans/worksans-hairline-webfont.woff') format('woff'),
         url('../fonts/worksans/worksans-hairline-webfont.ttf') format('truetype');
    font-weight: 50;
    font-style: normal;
}
