@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/worksans-thin-webfont.eot');
    src: url('../fonts/worksans/worksans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans/worksans-thin-webfont.woff2') format('woff2'),
         url('../fonts/worksans/worksans-thin-webfont.woff') format('woff'),
         url('../fonts/worksans/worksans-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
