---
layout: default
title: pages.graphics.title
description: pages.graphics.description
---
{% include hero/graphics.html %}

{% assign logos = site.data.graphics-collection | where:"type","logos" %}
{% assign icons = site.data.graphics-collection | where:"type","icons" %}

<div class="page">

	<section class="section">

		<div class="section__content">
			<p class="warning-bg text-left">
				{% t pages.graphics.disclaimer-text %}
			</p>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<img src="/assets/img/graphics/brandstyle.jpg" alt="brandstyle" class="brandstyle-img">
					<br>
					<div class="text-left">
						<a href="/assets/dash_styleguide_2018.pdf" class="btn-blue-solid">
							{% t pages.graphics.download-style-guide %}
						</a>
						<a href="/assets/dash_style_guide_resources.zip" class="btn-blue-solid">
							{% t pages.graphics.download-all-resources %}
						</a>
					</div>
				</div>
			</div>

			<hr class="bottom-space">

			<div class="row bottom-space">
				<h2 class="text-center">{% t pages.graphics.logos %}</h2>
				{% for graphic in logos %}
					{% include graphics-tile.html %}
				{% endfor %}
			</div>

			<div class="row bottom-space">
				<h2 class="text-center">{% t pages.graphics.icons %}</h2>
				{% for graphic in icons %}
					{% include graphics-tile.html %}
				{% endfor %}
			</div>
			<div class="row bottom-space">
					<h2 class="text-center bottom-space">Raw Code snippet for scalable SVG</h2>
				<div class="col-xs-12 col-md-7">
					<p class="bottom-space">Copy and paste code below</p>
				<pre class="raw-html"><code>&lt;svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 275 275" width="100" height="100"&gt;
	&lt;defs&gt;
		&lt;style&gt;.dash-blue{fill:#008de4;}&lt;/style&gt;
	&lt;/defs&gt;
	&lt;title&gt;D_coin&lt;/title&gt;
	&lt;g id="D" data-name="D"&gt;
		&lt;path class="dash-blue"
					d="M84.72,85.42l40,0c19.7,0,25.53,7.15,25.36,19-.09,6.08-2.72,16.36-3.86,19.69-3,8.88-9.27,19-32.65,19H74.68L71,163.69h44.22c15.6,0,22.23-1.81,29.26-5.06,15.57-7.19,24.84-22.56,28.55-42.62,5.53-29.86-1.35-51.11-40.29-51.12H88.39Z"/&gt;
		&lt;path class="dash-blue"
						d="M53,124.53H98.37c11.61,0,13.27-7.56,14.37-12.13,1.44-6,1.91-8.41,1.91-8.41H69.27C57.66,104,56,111.55,54.9,116.12c-1.44,6-1.91,8.4-1.91,8.41Z"/&gt;
		&lt;path class="dash-blue"
					d="M114.32,228.63A114.32,114.32,0,1,1,228.63,114.32,114.44,114.44,0,0,1,114.32,228.63Zm0-225.83A111.52,111.52,0,1,0,225.84,114.32,111.64,111.64,0,0,0,114.32,2.8Z"/&gt;
	&lt;/g&gt;
&lt;/svg&gt;</code></pre>
				</div>
				<div class="col-xs-12 col-md-5 text-center">
					<p class="bottom-space">Result</p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 275 275" width="100" height="100">
						<defs>
							<style>.dash-blue{fill:#008de4;}</style>
						</defs>
						<title>D_coin</title>
						<g id="D" data-name="D">
							<path class="dash-blue"
										d="M84.72,85.42l40,0c19.7,0,25.53,7.15,25.36,19-.09,6.08-2.72,16.36-3.86,19.69-3,8.88-9.27,19-32.65,19H74.68L71,163.69h44.22c15.6,0,22.23-1.81,29.26-5.06,15.57-7.19,24.84-22.56,28.55-42.62,5.53-29.86-1.35-51.11-40.29-51.12H88.39Z"/>
							<path class="dash-blue"
										d="M53,124.53H98.37c11.61,0,13.27-7.56,14.37-12.13,1.44-6,1.91-8.41,1.91-8.41H69.27C57.66,104,56,111.55,54.9,116.12c-1.44,6-1.91,8.4-1.91,8.41Z"/>
							<path class="dash-blue"
										d="M114.32,228.63A114.32,114.32,0,1,1,228.63,114.32,114.44,114.44,0,0,1,114.32,228.63Zm0-225.83A111.52,111.52,0,1,0,225.84,114.32,111.64,111.64,0,0,0,114.32,2.8Z"/>
						</g>
					</svg>
				</div>
			</div>
		</div>

	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">{% t pages.graphics.indent-header %}</h2>

			<div class="row bottom-space">

				<div class="col-md-6">
					<h2>{% t pages.graphics.color-header %}</h2>
					<p>{% t pages.graphics.color-text %}</p>
				</div>

				<div class="col-md-6">
					<div class="row bottom-space">
						<div class="col-xs-6">
							<div class="color-box color-box_blue"></div>
							<div class="color-article">
								<span class="brand-color-name">Blue</span>
								<p>RGB: 0, 141, 228</p>
								<p>CMYK: 76, 38, 0, 0</p>
								<p>Hex: #008de4</p>
								<p>PANTONE: 2925c</p>
							</div>
						</div>
						
						<div class="col-xs-6">
							<div class="color-box color-box_white"></div>
							<div class="color-article">
								<span class="brand-color-name">White</span>
								<p>RGB: 255,255,255</p>
								<p>CMYK: 0,0,0,0</p>
								<p>Hex: #ffffff</p>
								<p>PANTONE: -</p>
							</div>
						</div>
					</div>

					<div class="row bottom-space">
						<div class="col-xs-6">
							<div class="color-box color-box_deep-blue"></div>
							<div class="color-article">
								<span class="brand-color-name">Deep blue</span>
								<p>RGB:  1, 32, 96</p>
								<p>CMYK: 100, 94, 31, 29</p>
								<p>Hex: #012060</p>
								<p>PANTONE: 534c</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_gray"></div>
							<div class="color-article">
								<span class="brand-color-name">Gray</span>
								<p>RGB: 120, 120, 120</p>
								<p>CMYK: 54, 46, 45, 11</p>
								<p>Hex: #787878</p>
								<p>PANTONE: Cool Gray 9 C</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="color-box color-box_midnight-blue"></div>
							<div class="color-article">
								<span class="brand-color-name">Midnight Blue</span>
								<p>RGB:  11, 15, 59</p>
								<p>CMYK: 100, 96, 41, 53</p>
								<p>Hex: #0b0f3b</p>
								<p>PANTONE: 5255c</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_black"></div>
							<div class="color-article">
								<span class="brand-color-name">Black</span>
								<p>RGB: 17, 25, 33</p>
								<p>CMYK:  82, 71, 59, 75</p>
								<p>Hex: #111921</p>
								<p>PANTONE: Black 6 C</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h2>{% t pages.graphics.typography-header %}</h2>
					<p>{% t pages.graphics.typography-text %}</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-6">
							<p>Roboto Condensed</p>
							<span class="text-word-wrap graphic-exmaple-brand">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
						<div class="col-xs-6">
							<p>Montserrat</p>
							<span class="text-word-wrap graphic-exmaple">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


</div>
