---
layout: default
title: pages.graphics.title
description: pages.graphics.description
---
{% include hero/graphics.html %}

{% assign logos =  site.data.graphics-collection | where:"type","logo" %}
{% assign merchants =  site.data.graphics-collection | where:"type","merchants" %}
{% assign buttons =  site.data.graphics-collection | where:"type","buttons" %}
{% assign cmyk =  site.data.graphics-collection | where:"type","cmyk-for-print" %}
{% assign monochrome =  site.data.graphics-collection | where:"type","monochrome" %}
{% assign pantone-for-print =  site.data.graphics-collection | where:"type","pantone-for-print" %}
{% assign rgb-for-screens =  site.data.graphics-collection | where:"type","rgb-for-screens" %}

<div class="page">

	<section class="section">

		<div class="section__content">
			<p class="warning-bg text-left">
				{% t pages.graphics.disclaimer-text %}
			</p>
			<br/>

			<a href="/assets/Dash_brand_style_guide_2018.pdf" class="btn-blue-solid">
				{% t pages.graphics.download-style-guide %}
			</a>

			<hr class="bottom-space">

			<div class="row bottom-space">

				<div class="col-xs-12 col-md-3">
					<h2 class="text-center">{% t pages.graphics.cmyk %}</h2>
					{% for graphic in cmyk %}
						{% include graphics-tile.html %}
					{% endfor %}
				</div>

				<div class="col-xs-12 col-md-3">
					<h2 class="text-center">{% t pages.graphics.monochrome %}</h2>
					{% for graphic in monochrome %}
						{% include graphics-tile.html %}
					{% endfor %}
				</div>

				<div class="col-xs-12 col-md-3">
					<h2 class="text-center">{% t pages.graphics.pantone %}</h2>
					{% for graphic in pantone-for-print %}
						{% include graphics-tile.html %}
					{% endfor %}
				</div>

				<div class="col-xs-12 col-md-3">
					<h2 class="text-center">{% t pages.graphics.rgb-for-screens %}</h2>
					{% for graphic in rgb-for-screens %}
						{% include graphics-tile.html %}
					{% endfor %}
				</div>

			</div>
		</div>

	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">{% t pages.graphics.indent-header %}</h2>

			<div class="row bottom-space">

				<div class="col-md-6">
					<h2>{% t pages.graphics.color-header %}</h2>
					<p>{% t pages.graphics.color-text %}</p>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-6">
							<div class="color-box color-box_blue"></div>
							<div class="color-article">
								<p>RGB: 30,113,184</p>
								<p>CMYK: 76, 38, 0, 0</p>
								<p>Hex: #008de4</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_gray"></div>
							<div class="color-article">
								<p>RGB: 0,141,228</p>
								<p>CMYK: 13,9,11,0</p>
								<p>Hex: #e3e3e3</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="color-box color-box_black"></div>
							<div class="color-article">
								<p>RGB: 0,0,0</p>
								<p>CMYK: 91,79,62,97</p>
								<p>Hex: #000000</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_white"></div>
							<div class="color-article">
								<p>RGB: 255,255,255</p>
								<p>CMYK: 0,0,0,0</p>
								<p>Hex: #ffffff</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h2>{% t pages.graphics.typography-header %}</h2>
					<p>{% t pages.graphics.typography-text %}</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-6">
							<p>Gunship Bold Italic</p>
							<span class="text-word-wrap graphic-exmaple-brand">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
						<div class="col-xs-6">
							<p>Montserrat Light</p>
							<span class="text-word-wrap graphic-exmaple-light">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


</div>
