@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/worksans-black-webfont.eot');
    src: url('../fonts/worksans/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/worksans/worksans-black-webfont.woff2') format('woff2'),
         url('../fonts/worksans/worksans-black-webfont.woff') format('woff'),
         url('../fonts/worksans/worksans-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
