---
layout: default
title: pages.merchants.title
description: pages.merchants.description
---

{% include hero/merchants.html %}

<div class="page page--team">

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.cards-heading %}<!-- <a class="permalink" title="Permalink" id="social"></a> --></h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-cards %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.email-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-email %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.vpn-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-vpn %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.hosting-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-hosting %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.design-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-design %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.gifts-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-gifts %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.games-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-games %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.casinos-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-casinos %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.stores-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-stores %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--intro-lead section--merchants">
		<div class="section__content content">
			<div class="section__intro">
				<h2 class="section__title">{% t pages.merchants.metals-heading %}</h2>
			</div>
			<ul class="member-list member-list--merchants">
				{% for merchant in site.data.merchants-metals %}
				{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

</div>
