---
layout: default
title: pages.merchants.title
description: pages.merchants.description
---

{% include hero/merchants.html %}

<div class="page page--team">

	<section class="section section--claim">

		<div class="section__content content">
			<div>
				<h1>{% t pages.merchants.debit-cards-heading %}<a class="permalink" title="Permalink" id="social"></a></h1>
			</div>
			<ul class="member-list">
				{% for merchant in site.data.merchants-stores %}
					{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>

		<div class="section__content content">
			<div>
				<h1>{% t pages.merchants.stores-heading %}<a class="permalink" title="Permalink" id="social"></a></h1>
			</div>
			<ul class="member-list">
				{% for merchant in site.data.merchants-stores %}
					{% include merchant-list.html %}
				{% endfor %}
			</ul>
		</div>

	</section>
</div>
