---
layout: default
title: pages.woocommerce.title
description: pages.woocommerce.description
---


{% include hero/woocommerce.html %}
{% include base.html %}


<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section section--home-cta">
		<div class="section__content">
			<h2 class="section__title">{% t pages.woocommerce.plugin-heading %}</h2>
			<div class="section__lead">{% tmd pages.woocommerce.plugin-text %}</div>
			<h3>&nbsp;</h3>
			<a href="https://youtu.be/1KahlicghaE" class="btn-blue-solid" target="_blank">{% t pages.woocommerce.video-btn%}</a>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="{% t pages.home.feature-instant-heading %}">
					<h2>{% t pages.woocommerce.feature-instant-heading %}</h2>
					{% tmd pages.woocommerce.feature-instant-text %}
				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="{% t pages.home.feature-private-heading %}">
					<h2>{% t pages.woocommerce.feature-private-heading %}</h2>
					{% tmd pages.woocommerce.feature-private-text %}
				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="{% t pages.home.feature-secure-heading %}">
					<h2>{% t pages.woocommerce.feature-secure-heading %}</h2>
					{% tmd pages.woocommerce.feature-secure-text %}
				</div>
			</div>
		</div>
	</section>

	<!--
		HOW TO
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>{% t pages.woocommerce.how-heading %}</h2>
					<p>{% tmd pages.woocommerce.how-text %}</p>
					<p>
						<a href="https://dashpay.atlassian.net/wiki/display/DOC/Dash+Payment+Processor" target="_blank">{% t pages.woocommerce.how-text-more-link %}</a>
						{% t pages.woocommerce.how-text-more-link-text %}
					</p>
					<a href="http://codex.wordpress.org/Managing_Plugins#Manual_Plugin_Installation" class="btn-blue" target="_blank">{% t pages.woocommerce.how-install-btn %}</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 ">
					<img src="/assets/img/woocommerce/woocommerce_plugin.jpg" alt="{% t pages.update.update-heading %}">
				</div>
			</div>
		</div>
	</section>

	<section class="">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>{% t pages.woocommerce.install-heading %}</h2>
					<p>{% tmd pages.woocommerce.install-text %}</p>
					<p>{% tmd pages.woocommerce.how-text-plugin %}</p>
					<a href="https://wordpress.org/plugins/" class="btn-blue" target="_blank">{% t pages.woocommerce.how-text-plugin-link %}</a>

				</div>
				<div class="col-sm-6">
					<img src="/assets/img/evolution/merchants.png">
				</div>
			</div>
		</div>
	</section>

</div>
