---
layout: default
title: pages.home.title
description: pages.home.description
---


{% include hero/home.html %}

<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
				<h2 class="section__title">{% t pages.home.video-heading %}</h2>
				<div class="section__lead">{% tmd pages.home.video-text %}</div>

				<div class="section__btn-grp">
					<a href="https://www.youtube.com/watch?v=S0oNO3mbBE8" class="btn-blue btn-large" target="_blank" data-js-popup="video">{% t pages.home.video-btn %}</a>
					<a href="{{ basenav }}/get-dash/" class="btn-blue-solid btn-large">{% t nav.download %}</a>
				</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section>
		<div class="content">
			<div>
				<h2>{% t pages.home.merchants-heading %}</h2>

				{% tmd pages.home.merchants-text %}
			</div>

			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shakepay.co" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shakepay_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Shake Pay</h4>
								<p class="ctabox__description">Dash-Visa Debit Card</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.livingroomofsatoshi.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/livingroomofsatoshi_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Living Room of..</h4>
							<p class="ctabox__description">Pay bills in Australia</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.bolehvpn.net/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/bolehvpn.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Boleh VPN</h4>
							<p class="ctabox__description">Secure, Private VPN</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://node40.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/node40.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Node40</h4>
								<p class="ctabox__description">Masternode Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shapeshift.io" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shapeshift_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ShapeShift</h4>
								<p class="ctabox__description">Exchange Dash for Bitcoin</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.qhoster.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/qhoster.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Qhoster</h4>
							<p class="ctabox__description">Quality Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://www.isg3d.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/isg3d_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ISG3D</h4>
								<p class="ctabox__description">3D Printing Services</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.coaex.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/coaex_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">CoaEX</h4>
								<p class="ctabox__description">Precious Metals</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://bravenewbookstore.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/bravenewbooks_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">BraveNewBooks</h4>
								<p class="ctabox__description">Book Store</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://giftoff.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/giftoff_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">GiftOff</h4>
								<p class="ctabox__description">Gift Cards</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://key4co.in" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/key4coin_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Key4Coin</h4>
								<p class="ctabox__description">Game Keys</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://protonmail.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/protonmail.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ProtonMail</h4>
								<p class="ctabox__description">Secure, Private Email</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://misconductwineco.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/misconductwine_logo.jpg" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Misconduct Wine</h4>
								<p class="ctabox__description">Premium micro-lot wines</p>
							</div>
						</a>
					</article>
				</div>
			</div>

			<div>
				<a href="/merchants/" target="_blank" class="btn-blue">{% t pages.home.merchants-btn %}</a>
				<a href="{% t pages.home.merchants-link %}" target="_blank" class="btn-blue">{% t pages.home.merchants-join-btn %}</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="{% t pages.home.feature-instant-heading %}">
					<h2>{% t pages.home.feature-instant-heading %}</h2>
					{% tmd pages.home.feature-instant-text %}
				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="{% t pages.home.feature-private-heading %}">
					<h2>{% t pages.home.feature-private-heading %}</h2>
					{% tmd pages.home.feature-private-text %}
				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="{% t pages.home.feature-secure-heading %}">
					<h2>{% t pages.home.feature-secure-heading %}</h2>
					{% tmd pages.home.feature-secure-text %}
				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--masternode">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>{% t pages.home.architecture-heading %}</h2>

					{% tmd pages.home.architecture-text %}

					<a href="{% t pages.home.architecture-link %}" target="_blank" class="btn-blue">{% t pages.home.architecture-btn %}</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/home/globe.png" alt="{% t pages.home.architecture-heading %}">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>{% t pages.home.governance-heading%}</h2>

					{% tmd pages.home.governance-text %}

					<a href="http://dashvotetracker.com/" target="_blank" class="btn-blue">{% t pages.home.proposal-btn %}</a>

					<a href="https://dashcentral.org/" target="_blank" class="btn-blue">{% t pages.home.proposal-submit-btn %}</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-budgets-graphic">
					<img src="/assets/img/home/budgets.png" alt="{% t pages.home.governance-heading%}">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>{% t pages.home.network-growth-heading %}</h2>

					{% tmd pages.home.network-growth-text %}

					<a href="{{ basenav }}/network" class="btn-blue">{% t pages.home.network-growth-btn %}</a>
				</div>
				<!--div class="col-sm-6 home-network-graphic">
					<img src="/assets/img/home/graph.png" alt="{% t pages.home.network-growth-heading %}">
				</div-->
				<div class="col-sm-6 home-network-graphic-live">
					<img src="http://178.254.23.111/~pub/masternode_count.png" alt="{% t pages.home.network-growth-heading %}">
				</div>
			</div>
		</div>
	</section>

	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>{% t pages.home.evolution-heading %}</h2>

					{% tmd pages.home.evolution-text %}
					<a href="{{basenav}}/evolution/" target="_blank" class="btn-blue">{% t pages.home.evolution-btn %}</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/home/evo.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>{% t pages.home.news-heading %}</h2>

			<div class="row">
				{% for post in site.posts limit:4 %}
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="{{ basenav }}{{ post.url }}">
							<div class="news-image">
								{% if post.image %}
									<img src="/assets/img/blog/{{ post.image }}">
								{% endif %}
							</div>
							<div class="news-body">
								<h3 class="news-title">{{ post.title }}</h3>
								<div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
								<p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
							</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>

			<div>
				<a href="{{ basenav }}/blog/" class="btn-blue">{% t pages.home.news-btn %}</a>
			</div>
		</div>
	</section>

	<!--
		GET STARTED
	-->
	<section class="home-get-started-cta">
		<div class="content">
			<h2>{% t pages.home.get-started-heading %}</h2>

			{% tmd pages.home.get-started-text %}

			<a href="{{ basenav }}/get-dash/" class="btn-white-solid">{% t pages.home.get-started-btn %}</a>

			<img src="/assets/img/home/macbook.png" alt="">
		</div>
	</section>

</div>
