---
layout: default
title: pages.home.title
description: pages.home.description
---


{% tf home/hero.html %}

<div class="page-home">

    <!--
        WHAT IS DASH?
        LINK TO VIDEO.
    -->
    <section>
        <div class="content">
        <h2>{% t pages.home.video-heading %}</h2>
        {% tmd pages.home.video-text %}

        <a href="#" class="btn-blue">{% t pages.home.video-btn %}</a>
        </div>
    </section>

    <!--
        DASH FEATURES
        PRIVATE | INSTANT | SECURE
    -->
    <section>
        <div class="content">
            <div class="row features-collection">
                <div class="col-sm-4">
                    <img src="/assets/img/home/icon_private.png" height="100" alt="{% t pages.home.feature-private-heading %}">
                    <h2>{% t pages.home.feature-private-heading %}</h2>
                    {% tmd pages.home.feature-private-text %}
                </div>
                <div class="col-sm-4">
                    <img src="/assets/img/home/icon_instant.png" height="100" alt="{% t pages.home.feature-instant-heading %}">
                    <h2>{% t pages.home.feature-instant-heading %}</h2>
                    {% tmd pages.home.feature-instant-text %}

                </div>
                <div class="col-sm-4">
                    <img src="/assets/img/home/icon_secure.png" height="100" alt="{% t pages.home.feature-secure-heading %}">
                    <h2>{% t pages.home.feature-secure-heading %}</h2>
                    {% tmd pages.home.feature-secure-text %}
                </div>
            </div>
        </div>
    </section>

    <!--
        MERCHANTS
    -->
    <section>
        <div class="content">
            <div>
                <h2>{% t pages.home.merchants-heading %}</h2>

                {% tmd pages.home.merchants-text %}
            </div>

            <div class="logo-collection">
                <div class="logo">
                    <img src="/assets/img/home/bolehvpn.png">
                </div>
                <div class="logo">
                    <img src="/assets/img/home/node40.png">
                </div>
                <div class="logo">
                    <img src="/assets/img/home/protonmail.png">
                </div>
                <div class="logo">
                    <img src="/assets/img/home/qhoster.png">
                </div>
            </div>

            <div>
                <a href="#" class="btn-blue">{% t pages.home.merchants-btn %}</a>
                <a href="#" class="btn-blue">{% t pages.home.merchants-join-btn %}</a>
            </div>
        </div>
    </section>

    <!--
        NETWORK ARCHITECTURE
    -->
    <section>
        <div class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h2>{% t pages.home.architecture-heading %}</h2>

                    {% tmd pages.home.architecture-text %}

                    <a href="#" class="btn-blue">{% t pages.home.architecture-btn %}</a>
                </div>
                <div class="col-sm-6 home-architecture-graphic">
                    <img src="/assets/img/home/code.png" alt="{% t pages.home.architecture-heading %}">
                </div>
            </div>
        </div>
    </section>

    <!--
        SELF GOVERNING | SELF FUNDING
    -->
    <section>
        <div class="content row">
            <div class="col-sm-6 col-sm-push-6">
                <h2>{% t pages.home.governance-heading%}</h2>

                {% tmd pages.home.governance-text %}

                <a href="#" class="btn-blue">{% t pages.home.proposal-btn %}</a>

                <a href="#" class="btn-blue">{% t pages.home.proposal-submit-btn %}</a>
            </div>
            <div class="col-sm-6 col-sm-pull-6 home-budgets-graphic">
                <img src="/assets/img/home/budgets.png" alt="{% t pages.home.governance-heading%}">
            </div>
        </div>
    </section>

    <!--
        FASTEST GROWING NETWORK
    -->
    <section>
        <div class="content row">
            <div class="col-sm-6">
                <h2>{% t pages.home.network-growth-heading %}</h2>

                {% tmd pages.home.network-growth-text %}

                <a href="#" class="btn-blue">{% t pages.home.network-growth-btn %}</a>
            </div>
            <div class="col-sm-6 home-network-graphic">
                <img src="/assets/img/home/graph.png" alt="{% t pages.home.network-growth-heading %}">
            </div>
        </div>
    </section>

    <!--
        EVOLUTION
    -->
    <section>
        <div class="content row">
            <div class="col-sm-6 col-sm-push-6">
                <h2>{% t pages.home.evolution-heading %}</h2>

                {% tmd pages.home.evolution-text %}

                <a href="#" class="btn-blue">{% t pages.home.evolution-btn %}</a>
            </div>
            <div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
                <img src="/assets/img/home/stock-photo-63187555-she-ll-source-whatever-her-customers-are-looking-for.jpg" alt="Merchant using a laptop">
            </div>
        </div>
    </section>

    <!--
        LATEST NEWS
    -->
    <section>
        <div class="content">
            <h2>{% t pages.home.news-heading %}</h2>

            <div class="row">
                {% for post in site.posts limit:4 %}
                <div class="col-sm-6 col-md-3">
                    <div class="news-post">
                        <div class="news-image">
                            {% if post.image %}
                                <img src="{{ post.image }}">
                            {% endif %}
                        </div>
                        <div class="news-body">
                            <h3 class="news-title">{{ post.title }}</h3>
                            <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
                            <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
                            <a class="read-more" href="{{ post.url }}">Read More...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div>
                <a href="#" class="btn-blue">{% t pages.home.news-btn %}</a>
            </div>
        </div>
    </section>

    <!--
        GET STARTED
    -->
    <section class="home-get-started-cta">
        <div class="content">
            <h2>{% t pages.home.get-started-heading %}</h2>

            {% tmd pages.home.get-started-text %}

            <a href="#" class="btn-white-solid">{% t pages.home.get-started-btn %}</a>

            <img src="/assets/img/home/macbook.png" alt="">
        </div>
    </section>

</div>
