@font-face {
	font-family: 'Samim';
	src: url('../fonts/samim/Samim-Bold.eot');
	src: url('../fonts/samim/Samim-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/samim/Samim-Bold.woff') format('woff'),
		 url('../fonts/samim/Samim-Bold.ttf') format('truetype');
	font-weight: bold;
}
