{% if page.original-author %}
<div class="author">
	Original author:
	<h6>{{ page.original-author }}</h6>
	<br>
	Original link:
	<a
		href="{{ page.original-link }}"
		title="{{ page.original-author }}"
		target="_blank">
		{{ page.original-link }}
	</a>
</div>
{% else %}

{% if page.author %}
<div class="author">
	Author:
	<br>
	{% assign author = site.data.people[page.author] %}

	{% if author.image %}
		<img src="{{ author.image }}" class="author-icon img-circle"><br />
	{% endif %}

	{% if author.twitter %}
		<a rel="author"
		  href="https://twitter.com/{{ author.twitter }}"
		  title="{{ author.name }}"
		  target="_blank">
	{% else %}
		<a rel="author"
		  href="#"
		  title="{{ author.name }}"
		  target="_blank">
	{% endif %}
		{{ author.name }}
	</a>
</div>
{% endif %}
{% endif %}

