{% t nav.get-dash %}
<ul>
    <li>{% t nav.download %}</li>
    <li>{% t nav.buy %}</li>
    <li>{% t nav.shop %}</li>
    <li>{% t nav.debit %}</li>
</ul>

{% t nav.participate %}
<ul>
    <li>{% t nav.mining %}</li>
    <li>{% t nav.masternode %}</li>
    <li>{% t nav.wallet %}</li>
    <li>{% t nav.funding %}</li>
</ul>

{% t nav.currency %}
<ul>
    <li>{% t nav.exchange %}</li>
    <li>{% t nav.governance %}</li>
    <li>{% t nav.explorers %}</li>
    <li>{% t nav.stats %}</li>
</ul>

{% t nav.community %}
<ul>
    <li>{% t nav.discussion %}</li>
    <li>{% t nav.social-apps %}</li>
    <li>{% t nav.news %}</li>
    <li>{% t nav.tools-dev %}</li>
    <li>{% t nav.tools-masternodes %}</li>
</ul>

{% t nav.project %}
<ul>
    <li>{% t nav.help %}</li>
    <li>{% t nav.info %}</li>
    <li>{% t nav.team %}</li>
    <li>{% t nav.contact %}</li>
</ul>

{% t nav.social %}
<ul>
    <li>{% t nav.blog %}</li>
    <li>{% t nav.reddit %}</li>
    <li>{% t nav.twitter %}</li>
    <li>{% t nav.youtube %}</li>
    <li>{% t nav.google %}</li>
    <li>{% t nav.linkedin %}</li>
    <li>{% t nav.facebook %}</li>
    <li>{% t nav.instagram %}</li>
    <li>{% t nav.github %}</li>
</ul>