<div class="container-fluid footer-panel" id="site-footer">
            <div class="row">
                    <div class="col-lg-12">
                        Add in a subscribe to our email list for cool dash projects and such here
                    </div>
            </div>
             <div class="row">
                <div class="col-lg-12 center">
                        <h4>Dash Around the Web</h4>
                    </div>
                    <div class="col-md-8">
                        Adding social media feeds & additional footer info in this block - jake
                    </div>
                    <div class="col-md-4">
                    <a class="twitter-timeline" href="https://twitter.com/Dashpay" data-widget-id="726592412814962688">Tweets by @Dashpay</a>
                    
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 </div>
            </div>
    <!-- Start Footer -->
            <div>
                <div class="row"><hr/>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        
                        <img src="http://placehold.it/280x100"/>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div>
                                    <ul style="margin-left:none;list-style-type:none;font-size;.9em;padding-left:0px;">
                                    <li><strong>Getting Started</strong></li>

                                    <li><a href="get-dash.html">Download Wallet</a></li>
                                    <li><a href="get-dash.html#buy">Buy Dash Currency</a></li>
                                    <li><a href="get-dash.html#shop">Shop with Dash</a></li>
                                    <li><a href="get-dash.html#shopcard">Dash Debit Card</a></li>
                                </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div>
                                     <ul style="margin-left:none;list-style-type:none;font-size;.9em;padding-left:0px;">
                                    <li><strong>Technical</strong></li>
                                    <li><a href="currency.html#governance">Dash Governance</a></li>
                                    <li><a>Start Mining </a></li>
                                    <li><a>Setup a Masternode</a></li>
                                    <li><a>Securing a Wallet</a></li>
                                    <li><a>Apply for funding</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div>
                                    <ul style="margin-left:none;list-style-type:none;font-size;.9em;padding-left:0px;">
                                    <li><strong>Currency</strong></li>
                                    <li><a href="currency.html#trade">Exchange Markets</a></li>
                                    
                                    <li><a href="currency.html#blockchain">Block Explorers</a></li>
                                    <li><a href="currency.html#network">Network Stats</a></li>
                                </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div>
                                    <ul style="margin-left:none;list-style-type:none;font-size;.9em;padding-left:0px;">
                                    <li><strong>Other</strong></li>
                                    <a href="project.html"> Help &amp; Support</a>
                                    <a href="project.html">Project Information</a>
                                    <a href="project.html">Core Team</a>
                                    <a href="project.html">Contact </a>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 center">
                        <strong class="center">Join The Dash InfoSpehere!</strong>
                        <p>Use <a href="https://twitter.com/dashpay" target="_blank">#DashDC</a>, <a href="https://twitter.com/dashpay" target="_blank">#DigitalCash</a>, <a href="https://twitter.com/dashpay" target="_blank">#DashNation</a>, <a href="https://twitter.com/dashpay" target="_blank">#Dash</a> or make your own Dash campaign!</p>

                        <hr/>

                        <ul class="list-inline pull-right">
                                    <li>
                                <a href="https://www.reddit.com/r/dashpay" target="_blank"><i class="fa fa-reddit fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/dashpay" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/DarkcoinTV"><i class="fa fa-youtube fa-lg"></i></a>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-snapchat fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/115080614177201373926" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/groups?home=&amp;gid=8179817&amp;trk=groups_most_recent-h-logo&amp;goback=%2Egmp_8179817" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/dashpay" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/dashpay/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                            </li>
                             <li>
                                <a href="https://digitalcash.signup.team/"><i class="fa fa-slack fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="http://github.com/dashpay" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                            </li>
                                </ul>
                    </div>
                </div>
            </div>
            <hr class="nav-divider">
            <div class="row center">
                <div class="col-md-12"><br/><a href="http://dash.org">© 2016 The Dash Network </a></div>
                <div class="col-md-12"><a href="http://github.com/andyfreer/dash-org-layout" target="_blank" class="text-right">Github Source</a> | <a href="#" target="_blank" class="text-right">Sitemap</a> | <a href="#" class="text-right">Terms Of Service</a> | <a href="#" target="_blank" class="text-right">Privacy Policy</a></div>

            </div>
            <!-- End Footer -->
            <br/>