<nav class="content">
  <section>
    {% t nav.get-dash %}
    <ul>
        <li><a href="#">{% t nav.download %}</a></li>
        <li><a href="#">{% t nav.buy %}</a></li>
        <li><a href="#">{% t nav.shop %}</a></li>
        <li><a href="#">{% t nav.debit %}</a></li>
    </ul>
  </section>

  <section>
    {% t nav.participate %}
    <ul>
        <li><a href="#">{% t nav.mining %}</a></li>
        <li><a href="#">{% t nav.masternode %}</a></li>
        <li><a href="#">{% t nav.wallet %}</a></li>
        <li><a href="#">{% t nav.funding %}</a></li>
    </ul>
  </section>

  <section>
    {% t nav.currency %}
    <ul>
        <li><a href="#">{% t nav.exchange %}</a></li>
        <li><a href="#">{% t nav.governance %}</a></li>
        <li><a href="#">{% t nav.explorers %}</a></li>
        <li><a href="#">{% t nav.stats %}</a></li>
    </ul>
  </section>

  <section>
    {% t nav.community %}
    <ul>
        <li><a href="#">{% t nav.discussion %}</a></li>
        <li><a href="#">{% t nav.social-apps %}</a></li>
        <li><a href="#">{% t nav.news %}</a></li>
        <li><a href="#">{% t nav.tools-dev %}</a></li>
        <li><a href="#">{% t nav.tools-masternodes %}</a></li>
    </ul>
  </section>

  <section>
    {% t nav.project %}
    <ul>
        <li><a href="#">{% t nav.help %}</a></li>
        <li><a href="#">{% t nav.info %}</a></li>
        <li><a href="#">{% t nav.team %}</a></li>
        <li><a href="#">{% t nav.contact %}</a></li>
    </ul>
  </section>

  <section>
    {% t nav.social %}
    <ul class="footer--social">
        <li><a href="#">{% t nav.blog %}</a></li>
        <li><a href="#">{% t nav.reddit %}</a></li>
        <li><a href="#">{% t nav.twitter %}</a></li>
        <li><a href="#">{% t nav.youtube %}</a></li>
        <li><a href="#">{% t nav.google %}</a></li>
        <li><a href="#">{% t nav.linkedin %}</a></li>
        <li><a href="#">{% t nav.facebook %}</a></li>
        <li><a href="#">{% t nav.instagram %}</a></li>
        <li><a href="#">{% t nav.github %}</a></li>
    </ul>
  </section>
</nav>
<div class="footer--menu content">
  <div class="footer--languagePicker"></div>
  <a href="#">Terms of Use</a>
  <a href="#">Contact</a>
  <a href="#">Sitemap</a>
</div>
<div class="footer--legal">
  <div class="content">
    <span class="footer--copyright">&copy; {{ site.time | date: "%Y" }} The Dash Network</span>
    <a href="#">Github Source</a>
  </div>
</div>
