<li class="member" data-mh="member">

	<div class="member__avatar">
		{% if member.image %}
		<div class="member__image-wrapper">
			<img class="member__image" src="/assets/img/team/{{ member.image }}" alt="{{ member.name }}">
		</div>
		{% else %}
		<div class="member__image-wrapper">
			<img class="member__image" src="/assets/img/team/anon.png" alt="{{ member.name }}">
		</div>
		{% endif %}
	</div>

	<div class="member__name" data-mh="member-name">{{ member.name }}</div>
	<div class="member__title" data-mh="member-title">{{ member.title }}</div>

	<div class="member__description"></div>

	{% if member.email %}
	<div class="member__detail member__detail--email"><a href="mailto:{{ member.email }}">{{ member.email }}</a></div>
	{% endif %}

	{% if member.keybase %}
	<div class="member__detail member__detail--pgp"><a href="{{ member.keybase }}"  target="_blank">Keybase Identity</a></div>
	{% endif %}

	{% if member.twitter %}
	<div class="member__detail member__detail--twitter"><a href="{{ member.twitter }}" target="_blank">{{ member.twitter }}</a></div>
	{% endif %}

	{% if member.dashforum %}
	<h5>{% t pages.team.forum-name %}</h5>
	<div class="member__detail member__detail--dashforum"><a href="/forum/members{{ member.dashforum-link }}" target="_blank">{{ member.dashforum }}</a></div>
	{% endif %}


</li>
