{% include base.html %}

<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

 	<div class="overlay-menu__nav">
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="{{ basenav }}/" class="overlay-menu__link">{% t nav.what-is-dash %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/get-dash/" class="overlay-menu__link">{% t nav.get-dash %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/participate/" class="overlay-menu__link">{% t nav.participate %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/currency/" class="overlay-menu__link">{% t nav.currency %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/community/" class="overlay-menu__link">{% t nav.community %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/blog/" class="overlay-menu__link">{% t nav.blog %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/team" class="overlay-menu__link">{% t nav.team %}</a></li>

            {% if page.layout != 'post' %}
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="{{ page.url }}" class="overlay-menu__link {% if site.lang == 'en' %}is-active{% endif %}"><span class="flag us"></span> {% t global.english %}</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/es{{ page.url  }}" class="overlay-menu__link {% if site.lang == 'es' %}is-active{% endif %}"><span class="flag es"></span> {% t global.spanish %}</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/pt{{ page.url  }}" class="overlay-menu__link {% if site.lang == 'pt' %}is-active{% endif %}"><span class="flag pt"></span> {% t global.portugese %}</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/it{{ page.url  }}" class="overlay-menu__link {% if site.lang == 'it' %}is-active{% endif %}"><span class="flag it"></span> {% t global.italian %}</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/cn{{ page.url  }}" class="overlay-menu__link {% if site.lang == 'cn' %}is-active{% endif %}"><span class="flag cn"></span> {% t global.chinese %}</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/ru{{ page.url  }}" class="overlay-menu__link {% if site.lang == 'ru' %}is-active{% endif %}"><span class="flag ru"></span> {% t global.russian %}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
