{% include base.html %}

<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->
{% assign logo-color = 'white' %}
{% if include.logo-color %}
    {% assign logo-color = include.logo-color %}
{% endif %}

<header id="top" class="content">


    <a href="{{ basenav }}/" class="logo"><img src="{{ base }}/assets/img/logo-{{ logo-color }}.png" alt="Dash"></a>

    <nav>
        <ul>
            <li><a href="{{ basenav }}/">{% t nav.what-is-dash %}</a></li>
            <li><a href="{{ basenav }}/get-dash/">{% t nav.get-dash %}</a></li>
            <li><a href="{{ basenav }}/participate/">{% t nav.participate %}</a></li>
            <li><a href="{{ basenav }}/currency/">{% t nav.currency %}</a></li>
            <li><a href="{{ basenav }}/community/">{% t nav.community %}</a></li>
            <li><a href="{{ basenav }}/blog/">{% t nav.blog %}</a></li>
            <li><a href="{{ basenav }}">{% t nav.project %}</a></li>

            <li><a href="{{ base }}{{ page.url }}">{% t global.english %}</a></li>
            <li><a href="{{ base }}/es{{ page.url  }}">{% t global.spanish %}</a></li>

            <li><a href="{{ basenav }}" title="{% t nav.search %}">S</a></li>
        </ul>
    </nav>

</header>
