<nav class="overlay-menu">
    <ul>
        <li><a href="{{ site.baseurl_root }}">{% t nav.what-is-dash %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.get-dash %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.participate %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.currency %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.community %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.blog %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t nav.project %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t global.english %}</a></li>
    </ul>
</nav>