{% include base.html %}

<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->
{% assign logo-color = 'white' %}
{% if include.logo-color %}
    {% assign logo-color = include.logo-color %}
{% endif %}

<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="{{ basenav }}/" class="logo"><img class="logo__img" src="/assets/img/dash-logo_new.png" alt="Dash"></a>
    <nav class="nav nav--{{ logo-color }}">
        <ul class="nav__list">
            <li class="nav__item"><a href="{{ basenav }}/get-dash/" class="nav__link">{% t nav.get-dash %}</a></li>
            <li class="nav__item"><a href="{{ basenav }}/merchants/" class="nav__link">{% t nav.merchants %}</a></li>
            <li class="nav__item"><a href="{{ basenav }}/network/" class="nav__link">{% t nav.currency %}</a></li>
            <li class="nav__item"><a href="{{ basenav }}/community/" class="nav__link">{% t nav.community %}</a></li>
            <li class="nav__item"><a href="{{ basenav }}/news/" class="nav__link">{% t nav.blog %}</a></li>
            <li class="nav__item"><a href="{{ basenav }}/evolution/" class="nav__link">{% t nav.evolution %}</a></li>
            <li class="nav__item"><a href="https://support.dash.org/" class="nav__link" target="_blank">{% t nav.support %}</a></li>
            {% if page.layout != 'post' %}
            {% unless page.url contains '/news/' %}
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag {% if 'en' == site.lang %}gb{% else %}{{site.lang}}{% endif %}"></span></a>
                <ul class="nav__sublist nav__sublist_lang">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="{{ page.url }}" class="nav__link {% if site.lang == 'en' %}is-active{% endif %}">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es{{ page.url  }}" class="nav__link {% if site.lang == 'es' %}is-active{% endif %}">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr{{ page.url  }}" class="nav__link {% if site.lang == 'fr' %}is-active{% endif %}">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt{{ page.url  }}" class="nav__link {% if site.lang == 'pt' %}is-active{% endif %}">Português <span class="flag pt"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/it{{ page.url  }}" class="nav__link {% if site.lang == 'it' %}is-active{% endif %}">Italiano <span class="flag it"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/zh{{ page.url  }}" class="nav__link {% if site.lang == 'zh' %}is-active{% endif %}">简体中文 <span class="flag zh"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru{{ page.url  }}" class="nav__link {% if site.lang == 'ru' %}is-active{% endif %}">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ja{{ page.url  }}" class="nav__link {% if site.lang == 'ja' %}is-active{% endif %}">日本語 <span class="flag ja"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ko{{ page.url  }}" class="nav__link {% if site.lang == 'ko' %}is-active{% endif %}">한국어<span class="flag ko"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de{{ page.url  }}" class="nav__link {% if site.lang == 'de' %}is-active{% endif %}">Deutsch<span class="flag de"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/th{{ page.url  }}" class="nav__link {% if site.lang == 'th' %}is-active{% endif %}">ภาษาไทย<span class="flag th"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/zh_HK{{ page.url  }}" class="nav__link {% if site.lang == 'zh_HK' %}is-active{% endif %}">繁體中文<span class="flag hk"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/pl{{ page.url  }}" class="nav__link {% if site.lang == 'pl' %}is-active{% endif %}">Polski<span class="flag pl"></span></a>
                    </li>
                </ul>
            </li>
            {% endunless%}
            {% endif %}

           <!--  <li class="nav__item nav__item--search"><a href="{{ basenav }}" class="nav__link" title="{% t nav.search %}">S</a></li> -->
        </ul>
    </nav>

</header>
