.page--currency > section {
	margin: 40px 0;
}

.page--currency table#budgets {
	td, th {
		&:nth-child(3), &:nth-child(6) {
			text-align: center;
		}
		&:nth-child(4), &:nth-child(5) {
			text-align: right;
		}
	}
	@media (max-width: 1199px) {
		@include table-compact-mixin;
	}
}

.page--currency table#blocks {
	td, th {
		&:nth-child(3), &:nth-child(4), &:nth-child(5) {
			text-align: right;
		}
	}
	@media (max-width: 850px) {
		@include table-compact-mixin;
	}
}
