@media (max-width: 600px) {
	.content {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 18px;
	}
	#hero {
		padding-left: 30px;
		padding-right: 30px;
	}
	#sign-in-cta {
		form {
			input {
				display: block;
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
	#info {
		.col {
			width: 100%;
			box-sizing: border-box;
			margin-top: 10px;
			margin-bottom: 20px;
			border-right: none;
			h2 {
				font-size: 24px;
				margin-bottom: 10px;
			}
			span {
				color: #999999;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
			}
		}
	}
	#key-features {
		padding: 30px;
		.col {
			width: 100%;
			box-sizing: border-box;
		}
		.feature {
			margin-bottom: 50px;
			margin-right: 20px;
			text-align: center;
			.icon {
				float: none;
				width: 55px;
				height: auto;
				margin: 0;
			}
			p {
				text-align: left;
			}
		}
	}
	#news {
		padding: 30px 0 30px 0;
		.news-post {
			width: 100%;
			img {
				width: 100%;
				max-width: 600px;
				height: auto;
			}
		}
	}
	#get-started-cta {
			padding: 50px 30px;
		.col {
			width: 100%;
			padding: 0px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	iframe {
		min-height: 300px;
	}
	.feature {
		text-align: center;
		img {
			width: 75px;
			height: auto;
		}
		.col {
			float: none;
			display: inline-block;
			width: 100%;
			p {
				text-align: left;
			}
			ul {
				text-align: left;
			}
			
			ol {
				text-align: left;
			}
		}
	}

}
