@media (max-width: 760px) {
	.content {
		width: 600px;
		margin: 0 auto;
	}
	h1 {
		font-size: 32px;
	}
	
	h2 {
		font-size: 18px;
	}
	.second-line{
		display: block;
	}
	#info {
		.col {
			width: 33%;
			box-sizing: border-box;
			padding: 0 10px;
			h2 {
				font-size: 18px;
				margin-bottom: 10px;
			}
			span {
				font-size: 10px;
			}
		}
	}
	footer {
		padding-top: 0px;
		text-align: center;
		.nav {
			float: none;
			text-align: center;
			li {
				display: block;
				margin-left: 0px;
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
			}
		}
		.social {
			float: none;
			text-align: center;
			margin-top: 15px;
		}
		.logo {
			margin-top: 20px;
			float: none;
			width: 56px;
			height: auto;
		}
		.copyright {
			margin-top: 13px;
			float: none;
			font-size: 12px;
			color: #999;
		}
	}
}