@media (max-width: 1020px) {
	.content {
		width: 750px;
		margin: 0 auto;
	}
	h1 {
		font-size: 34px;
	}
	
	h2 {
		font-size: 20px;
	}
	.desktop {
		display: none;
		width: 0;
		height: 0;
	}
	.button_container {
		display: inline-block;
	}
	#hero {
		#top {
			margin-bottom: 100px;
			padding: 0 !important;
		}
	}
	#info {
		.col {
			padding: 0px 20px;
			h2 {
				font-size: 20px;
			}
			span {
				font-size: 12px;
			}
		}
	}
	#key-features {
		.col {
			width: 100%;
		}
		.screenshot {
			text-align: center !important;
			padding: 0;
		}
	}
	#news {
		.news-post {
			width: 50%;
		}
	}
	#get-started-cta {
		.col {
			width: 50%;
		}
	}
	#top{
		padding: 0 30px 0 30px;
	}
	#title{
		padding: 0 30px 0 30px;
	}
	.main-col {
		float: none;
		width: 100%;
		padding: 0 30px 0 30px;
	}
	.sidebar {
		float: none;
		width: 100%;
		padding: 0 30px 0 30px;
	}
	.single-col {
		padding: 0 30px 0 30px;
	}
	.feature {
		img {
			margin-top: 10px;
			width: 40px;
			height: auto;
		}
	}

	.col-2{
		.col {
			width: 100%;
			border-right: none !important;
			padding: 0;
		}
	}
}