form {
	input {
		font-size: 15px;
		padding: 10px 5px 10px 5px;
		border: 2px solid $black;
		box-sizing: border-box;
		appearance: none;
	}
	.username {
		background-image: url(../images/icon-username.png);
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 22px 22px;
		padding-left: 40px;
		color: #ccc;
	}
	.password {
		background-image: url(../images/icon-password.png);
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 22px 22px;
		padding-left: 40px;
		color: #ccc;
	}
}
