#page-home {
	> section {
		padding: 40px 0;
		overflow: hidden;
		position: relative;
		text-align: center;

		&:nth-child(2n) {
			background-color: $gray-light;
		}

		.row {
			text-align: left;
		}

		.features-collection {
			text-align: center;
		}

		.logo-collection {
			margin: 20px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;

			> .logo {
				flex: 1 1 auto;
			}
		}

		p {
			max-width: 60em;
			margin: 20px auto;
		}

		img {
			max-width: 100%;
		}
	}

	.news-post {
		background-color: $white;
		box-shadow: 0 1px 4px rgba($black, 0.25);
		margin: 20px 0;
		.news-image {
			position: relative;
			overflow: hidden;
			padding-bottom: 60%;
			background-color: #999;
			> img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				@supports (object-fit: cover) {
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}
		.news-body {
			position: relative;
			padding: 20px;
			height: 220px;
			overflow: hidden;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 90px;
				background: linear-gradient(to top, white 50%, rgba(white, 0));
				pointer-events: none;
			}
			h3 {
				font-size: 18px;
				color: $blue;
				line-height: 1.2;
			}
			.date {
				color: lighten($black, 50%);
				font-size: 14px;
			}
			p {
				margin: 0;
				position: absolute;
				left: 20px;
				right: 20px;
				overflow: hidden;
			}
			a.read-more {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 20px;
				z-index: 1;
			}
		}
	}
}
