body {
	margin: 0;
	padding: 0;
	color: $black;
	background-color: $white;
}

.content {
	width: 1280px;
	max-width: calc(100% - 40px);
	@media (max-width: 1024px) {
		max-width: 96.1%; // at 1024px 40px is 3.9% of screen width
	}
	margin: 0 auto;
}

.col {
	float: left
}

.button_container {
	display: none;
}

// non-semantic concessions AKA utility classes
.clear {
	clear: both;
	display: block;
}

.right {
	float: right;
	display: inline-block;
}

.left {
	float: left;
	display: inline-block;
}
