#top {
	border-bottom: 1px solid $blue;
	margin-bottom: 20px;
	@extend %clearfix;

	nav {
		float: right;
		text-align: right;
		li {
			display: inline-block;
			margin-left: 20px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			line-height: 90px;
			a {
				display: inline-block;
				text-decoration: none;
				color: rgba($black, 0.9);

				&:hover {
					color: rgba($black, 1.0);
				}
			}
			.status {
				color: $blue;
			}
		}
	}

	.logo {
		width: 180px;
		height: 90px;
		display: inline-block;
		> img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			max-width: 100%;
		}
	}
}
