@import "fonts/worksans/bold";
@import "fonts/worksans/medium";
@import "fonts/open-sans/regular";
@import "fonts/open-sans/italic";

$font-body: 'Open Sans', Helvetica, Arial, sans-serif;
$font-heading: 'Work Sans', Helvetica, Arial, sans-serif;

body {
	font-family: $font-body;
	line-height: 1.5;
}

p {
	font-size: 14px;
	line-height: 1.5;
	a {
		color: $blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1, h2, h3 {
	font-family: $font-heading;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: $blue;
}

h3 {
	font-size: 20px;
	color: $black;
}

a {
	text-decoration: none;
	color: $blue;
}
