@import "../assets/fonts/worksans/font";

body {
	font-family: 'work_sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font-size: 14px;
	line-height: 22px;
	a {
		color: $blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: $blue;
}

h3 {
	font-size: 20px;
	color: $black;
}

a {
	text-decoration: none;
	color: $blue;
}
