---
layout: default
title: pages.woocommerce.title
description: pages.woocommerce.description
---


{% include hero/budget.html %}
{% include base.html %}


<div class="page page--home">

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->

	<section class="">
		<div class="content">
			<h2 class="section__title">{% t pages.budget.voting-header %}</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>{% t pages.budget.voting-automatic %}</h2>
					<p>{% t pages.budget.voting-automatic-text %}</p>
					<a href="/network" class="btn-blue">{% t pages.budget.voting-guide-btn %}</a>
					<a href="/network" class="btn-blue">{% t pages.budget.voting-manual-btn %}</a>
					<a href="/network" class="btn-blue">{% t pages.budget.voting-central-btn %}</a>
				</div>
				<div class="col-sm-6">
					<h2>{% tmd pages.budget.voting-tools %}</h2>
					<p>{% tmd pages.budget.voting-tools-text %}</p>
					<a href="">{% t pages.budget.decentralized-governance-link %}</a>
					<a href="">{% t pages.budget.masternode-budget-link %}</a>
					<a href="">{% t pages.budget.using-link %}</a>
					<a href="">{% t pages.budget.dgb-link %}</a>
					<a href="">{% t pages.budget.budget-finalization-link %}</a>
				</div>
			</div>
		</div>
	</section>

</div>
