---
layout: default
title: pages.buy.title
description: pages.buy.description
---


{% include hero/buy.html %}
{% include base.html %}


<div class="page page--home">

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->

	<section class="">
		<div class="content">

			<h2 class="bottom-space">{% t pages.buy.exchanges-heading %}</h2>

			<div class="row bottom-space">
				<div class="col-md-3">kraken</div>
				<div class="col-md-3">poloniex</div>
				<div class="col-md-3">btc-e</div>
				<div class="col-md-3">bifinex</div>
			</div>

			<h2  class="bottom-space">{% t pages.buy.brokers-heading %}</h2>

			<div class="row bottom-space">
				<div class="col-md-3">Coinpult</div>
				<div class="col-md-3">Changelly</div>
				<div class="col-md-3">Shapeshift</div>
				<div class="col-md-3">Kraken Direct</div>
			</div>

			<h2  class="bottom-space">{% t pages.buy.otc-heading %}</h2>

			<div class="row bottom-space">
				<div class="col-sm-6">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/bE7pxHtAiNo" frameborder="0" allowfullscreen></iframe>
					<p class="text-center">{% t pages.buy.dashous-text %}</p>
				</div>
				<div class="col-sm-6">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Ab7zYYrJLN8" frameborder="0" allowfullscreen></iframe>
					<p class="text-center">{% t pages.buy.woc-text %}</p>
				</div>
			</div>
		</div>
	</section>

</div>
