---
layout: default
title: pages.exchanges.title
description: pages.exchanges.description
---

{% include hero/exchanges.html %}
{% assign sortedExchanges = site.data.exchanges | sort: 'name' %}

<div class="page page--team">

	<section class="section section--intro-lead section--merchants">
		<p>Please check Exchange Volumes for best Trading experience:
			<a href="https://coinmarketcap.com/currencies/dash/#markets" target="_blank">https://coinmarketcap.com/currencies/dash/#markets</a>
		</p>
		<div class="section__content content">
			<ul class="member-list member-list--merchants">
				{% for exchange in sortedExchanges  %}
				{% include exchanges-list.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<p class="warning-bg">{% t pages.exchanges.disclaimer-text %}</p>
		</div>
	</section>
</div>
