// brand colors
$color-black: 		#131415;
$color-black-light: #353535;
$color-gray:		#f0f0f0;
$color-gray-light: 	#f7f9fa;
$color-gray-light-blueish: #e8eef2;
$color-gray-dark: 	#555555;
$color-white:		#ffffff;

$color-blue-dark:	#0b3b5a;
$color-blue-strong: #0077d6;
$color-blue:		#1c75bc;
$color-blue-highlight: #3297e8;
$color-blue-light: 	#addbff;
$color-blue-offshade: #658cad;

$color-red:			#ec2227;

$color-green:		#24b47e;
$color-green-light: #b9f4bc;

$gradient-dash-sky: linear-gradient(to top right, #3094E3, #247FC8 9%, #186AAC 30%, #163B80 73%, #001D38);
$gradient-atmosphere-blue-violet: linear-gradient(to top right,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
$gradient-default-overlay-blue: linear-gradient(-225deg, rgba(#283d81,0.7) 0%, rgba(#1c75bc,0.8) 100%);
$gradient-overlay-green: linear-gradient(-225deg, rgba(36, 180, 94, 0.56) 0%, rgba(76,144,98,0.8) 100%);
// for the style guide:
@function contrast-color($color, $dark, $light, $threshold: 50) {
	@if (lightness(scale-color($color, $green: 30%, $blue: -6%, $red: 4%)) > $threshold) { // perceptual luminance http://www.workwithcolor.com/color-luminance-2233.htm
		@return $dark; // Lighter background, return dark color
	} @else {
		@return $light; // Darker background, return light color
	}
}

$color:
	('black', $color-black),
	('black-light', $color-black-light),
	('gray', $color-gray),
	('gray-light', $color-gray-light),
	('gray-dark', $color-gray-dark),
	('white', $color-white),

	('blue-dark', $color-blue-dark),
	('blue-strong', $color-blue-strong),
	('blue', $color-blue),
	('blue-highlight', $color-blue-highlight),
	('blue-light', $color-blue-light),
	('blue-offshade', $color-blue-offshade),

	('red', $color-red),

	('green', $color-green),
	('green-light', $color-green-light);

@each $name, $bgcolor in $color {
	.color__tile--#{$name}-bg {
		background-color: $bgcolor;
		color: contrast-color($bgcolor, #000, #fff);
		box-shadow: 0 0 10px -4px contrast-color($bgcolor, black, transparent, 80) inset;
	}
}
