---
layout: default
title: pages.mining.title
description: pages.mining.description
---


{% include hero/404.html %}
{% include base.html %}


<div class="page page--home">



	<section id="community-social" class="section section--cta section--gray-light-bg">
		<div class="section__content">
			<div>
				<h2>{% t pages.community.social-heading %}<a class="permalink" title="Permalink" id="social"></a></h2>

				{% tmd pages.community.social-text %}
			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://twitter.com/dashpay" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/twitter_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.facebook.com/DashPay" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/facebook_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://plus.google.com/communities/101869723775111070721" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/googleplus_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.linkedin.com/company/dash---digitalcash-cryptocurrency-?trk=company_logo" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/linkedin_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.instagram.com/dashpay/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/instagram_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.youtube.com/dashorg" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/youtube_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section id="community-masternode" class="section section--cta">
		<div class="section__content">
			<div>
				<h2>{% t pages.community.masternode-heading %}<a class="permalink" title="Permalink" id="masternodes"></a></h2>

				{% tmd pages.community.masternode-text %}
			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.dashcentral.org/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashcentral_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash Central</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.dashninja.pl/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashninja_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">DashNinja</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1867885" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dash_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Hosting Services</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=8880153" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dash_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Tools</h4>
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

</div>
