---
layout: default
title: pages.budget.title
description: pages.budget.description
---


{% include hero/masternodes.html %}
{% include base.html %}


<div class="page page--home">

	<section class="section">
		<div class="section__content">
			<div class="section__lead">{% tmd pages.masternodes.marsternode-text %}</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="bottom-space">{% t pages.masternodes.what-heading %}</h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/4GRrLiTCq5M" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-sm-6">
					<h2 class="bottom-space">{% t pages.masternodes.earn-heading %}</h2>
					<p>{% t pages.masternodes.earn-text %}</p>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="section__content">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="bottom-space">{% t pages.masternodes.host-heading %}</h2>
					<div class="bottom-space">{% tmd pages.masternodes.host-text %}</div>
					<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=33947686" class="btn-blue" target="_blank">{% t pages.masternodes.host-btn %}</a>
				</div>
				<div class="col-sm-6">
					<h2 class="bottom-space">{% t pages.masternodes.hosting-services %}</h2>
					<div class="bottom-space">{% tmd pages.masternodes.hosting-services-text %}</div>
					<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1867885" class="btn-blue" target="_blank">{% t pages.masternodes.hosting-services-btn %}</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<div class="section__lead">
				<h2>{% t pages.masternodes.host-table-heading %}</h2>
			</div>
		</div>
	</section>

	<section class="">
		<div class="section__content">
			<h2 class="bottom-space">P2P</h2>
			<div class="row bottom-space">
				<div class="col-sm-6">
					<div>{% tmd pages.masternodes.p2p-text %}</div>
				</div>
				<div class="col-sm-6">
					<img src="/assets/img/masternodes/p2p.png" alt="">
				</div>
			</div>
			<a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" class="btn-blue"  target="_blank">{% t pages.masternodes.p2p-btn %}</a>
		</div>
	</section>

</div>
