---
layout: default
title: pages.evolution.title
description: pages.evolution.description
---


{% include hero/copay.html %}
{% include base.html %}

<div class="page page--home landing">
	<!-- <section class="about mt-150 mb-50">
		<div class="container">
			<div class="row center">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="section-title-parralax">
						<h2 class="section-title text-center">Secure, Shared Wallets</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="download" class="facts mt-100 mbr-box mbr-section mbr-section--relative">
		<div class="container">
			<div class="row text-center">
				
				<div class="col-xs-12 col-lg-3 col-md-3">
					<div class="count-item download">
						<img src="/assets/img/copay/windows-copay-wallet.png" width="120" alt="Windows">
						<div class="numscroller">Windows </div>
						<div class="count-name-intro">Executable</div>
						<a href="https://electrum.dash.org/download/2.6.4/electrum-dash-2.6.4.exe" class="download-name-button" download>Download</a>
					</div>
				</div>
				<div class="col-xs-12  col-lg-3 col-md-3">
					<div class="count-item download">
						<img src="/assets/img/copay/macos-copay-wallet.png" width="120" alt="OS X">
						<div class="numscroller">OS X</div>
						<div class="count-name-intro">Executable</div>
						<a href="https://electrum.dash.org/download/2.6.4/electrum-dash-2.6.4.dmg" class="download-name-button" download>Download</a>
					</div>
				</div>
				<div class="col-xs-12  col-lg-3 col-md-3">
					<div class="count-item download">
						<img src="/assets/img/copay/code-copay-wallet.png" width="120" alt="Sources">
						<div class="numscroller">Sources</div>
						<div class="count-name-intro">GitHub Project</div>
						<a href="https://github.com/dashpay/electrum-dash" class="download-name-button" target="_blank">Link</a>
					</div>
				</div>
				<div class="col-xs-12  col-lg-3 col-md-3">
					<div class="count-item download">
						<img src="/assets/img/copay/linux-copay-wallet.png" width="120" alt="Linux">
						<div class="numscroller roller-title-number-3 scrollzip isShown" data-slno="3">Linux</div>
						<div class="count-name-intro">Source tarball</div>
						<a href="https://electrum.dash.org/download/2.6.4/electrum-dash-2.6.4.tar.gz" class="download-name-button" download="">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>-->
<!-- 
	<section  class="project_descr">
		<div class="container mt-100">
			<div class="row center">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<p class="module-subtitle">Dash Copay is a true wallet, not an account service. You keep personal control of the keys to your funds at all times. Or, like a joint-checking account, you can choose to share control with multiple signatures. To send money, the group approves each transaction.</p>
					<p class="module-descr">Manage shared funds with friends and coworkers. Share a wallet with your child and introduce them to Dash. Dash Copay makes sharing a wallet simple and secure.</p>
				</div>
			</div>
		</div>
	</section> -->

	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="text-left section-title">Secure, Shared</h2>
					<div class="section-title-lead">Dash Wallets</div>
					<p>Dash Copay is a true wallet, not an account service. You keep personal control of the keys to your funds at all times. Or, like a joint-checking account, you can choose to share control with multiple signatures. To send money, the group approves each transaction.</p>
					<div class="section-text-lead">Manage shared funds with friends and coworkers. Share a wallet with your child and introduce them to Dash. Dash Copay makes sharing a wallet simple and secure.</div>
					<a href="{{ basenav }}/network" class="btn-blue">Download Wallet</a>
				</div>
				<div class="col-sm-6">
					<img src="/assets/img/copay/wallet-laptop-img.png" alt="dash copay">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<img src="/assets/img/copay/dash-map-img.png" alt="dash copay">
				</div>
				<div class="col-sm-6">
					<h2 class="text-left section-title">Instant, User-Friendly</h2>
					<div class="section-title-lead">Payments</div>
					<p>Enjoy full payment confirmation in under two seconds with Dash Copay. Built on InstantSend technology unique to the Dash network, you will never have to wait for slow block confirmations again. </p>
					<div class="section-text-lead">User-friendly address books and annotated transaction history makes keeping track of your finances a breeze.</div>
					<a href="{{ basenav }}/network" class="btn-blue">Download Wallet</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="text-left section-title">Open Source</h2>
					<div class="section-title-lead">Transparent Security</div>
					<p>Dash is committed to open source technology, and Dash Copay is no exception. Both the wallet and server are built using industry-standard best practices, and source code is available to be reviewed, improved, and developed by the community. </p>
					<div class="section-text-lead">A simple passphrase is all that is necessary to backup your wallet and restore full access to your funds if anything happens to your device.</div>
					<a href="{{ basenav }}/network" class="btn-blue">Download Wallet</a>
				</div>
				<div class="col-sm-6">
					<img src="/assets/img/copay/phone-map-img.png" alt="dash copay">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h2 class="text-left section-title">Details</h2>
				<div class="section-title-lead">Wallet Features</div>
			</div>
			</div>
			<div class="row">
					<div class="col-sm-6">
						<ul class="features-list">
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-icon.png" alt="instantSend">
								<div class="features-list__content">
									<h4 class="features-list__heading">InstantSend</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-secure-ico.png" alt="Secure backup">
								<div class="features-list__content">
									<h4 class="features-list__heading">Secure backup</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-sign-ico.png" alt="Multi-signature">
								<div class="features-list__content">
									<h4 class="features-list__heading">Multi-signature</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="col-sm-6">
						<ul class="features-list">
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-social-ico.png" alt="instantSend">
								<div class="features-list__content">
									<h4 class="features-list__heading">HD addresses</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-multi-sign-ico.png" alt="Multi-signature">
								<div class="features-list__content">
									<h4 class="features-list__heading">Multi-signature</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
							<li class="features-list__item">
								<img src="/assets/img/copay/feature-address.png" alt="Address book">
								<div class="features-list__content">
									<h4 class="features-list__heading">Address book</h4>
									<span class="features-list__description">User-friendly address books and annotated transaction history.</span>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</section>
<!-- 
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h2 class="text-left section-title">What is</h2>
					<div class="section-title-lead">Dash Network</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="stats__content">
						<div class="stats__number">
							1,442 <span class="stats__number-lead">USD</span>
						</div>
						<div class="stats__descr">BLOCKS</div>
					</div>

					<div class="stats__content">
						<div class="stats__number">
							2,420,000 <span class="stats__number-lead">GH/s</span>
						</div>
						<div class="stats__descr">Network Hashrate</div>
					</div>
				</div>

				<div class="col-sm-4">

					<div class="stats__content">
						<div class="stats__number">
						11,202,723,994 <span class="stats__number-lead">USD</span>
						</div>
						<div class="stats__descr">Market Capitalization</div>
					</div>
					<div class="stats__content">
						<div class="stats__number">
							4,614 <span class="stats__number-lead">NODES</span>
						</div>
						<div class="stats__descr">Current masternodes</div>
					</div>
				</div>

				<div class="col-sm-4"></div>
					<div class="stats__content">
						<div class="stats__number">
							7,753,057 <span class="stats__number-lead">DASH</span>
						</div>
						<div class="stats__descr">Circulating Supply</div>
					</div>

					<div class="stats__content">
						<div class="stats__number">
							18,900,000 <span class="stats__number-lead">DASH</span>
						</div>
						<div class="stats__descr">Max Supply</div>
					</div>

			</div>
		</div>
	</section>
-->

	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h2 class="text-left section-title">Support</h2>
					<div class="section-title-lead">Documentation</div>
				</div>
			</div>

			<div class="row bordered-row">
				<div class="col-sm-6">
					<h3 class="content-row__heading">CoPay Wiki</h3>
				</div>
				<div class="col-sm-6">
					<p class="content-row__text">Full documentation on how to install and get started using Dash Copay are available on our wiki. Full documentation on how to install and get started using Dash Copay are available on our wiki. Full documentation on how to install and get started using Dash Copay are available on our wiki.
					</p>
					<a href="https://docs.dash.org/en/latest/wallets/copay/getting-started.html" class="content-row__link" target="_blank">Wiki Link</a>
				</div>
			</div>

			<div class="row bordered-row">
				<div class="col-sm-6">
					<h3 class="content-row__heading">Documentation</h3>
				</div>
				<div class="col-sm-6">
					<p class="content-row__text">Full documentation on how to install and get started using Dash Copay are available on our wiki.
					</p>
					<a href="https://docs.dash.org/en/latest/wallets/copay/getting-started.html" class="content-row__link" target="_blank">Documentation Link</a>
				</div>
			</div>

			<div class="row bordered-row">
				<div class="col-sm-6">
					<h3 class="content-row__heading">Support Thread</h3>
				</div>
				<div class="col-sm-6">
					<p class="content-row__text">Full documentation on how to install and get started using Dash Copay are available on our wiki.
					</p>
					<a href="https://www.dash.org/forum/topic/copay-support.139/" class="content-row__link">Forum Link</a>
				</div>
			</div>
		</div>

	</section>
		<section class="get-started section">
		<div class="content">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<img src="/assets/img/copay/laptop-img.png" alt="" class="plain-laptop-img">
				</div>
			</div>
			<h2 class="get-started__heading">Get Started</h2>
			<p class="get-started__sub-header">Download the wallet and start using Digital Cash!</p>
			<div class="section__btn-grp">
				<a href="{{ basenav }}/wallets/" class="btn-white-solid">Download Wallet</a>
				<a href="{{ basenav }}/get-dash/" class="btn-white-solid">Get Dash</a>
			</div>
		</div>
	</section>
</div>
