---
layout: default
title: pages.mining.title
description: pages.mining.description
---


{% include hero/mining.html %}
{% include base.html %}

{% assign pools = site.data.mining-pools | sort: 'name' %}

<div class="page page--home">

	<section class="section">
		<div class="section__content">
			<h2 class="section__title"">{% t pages.mining.how-start-heading %}</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>{% t pages.mining.asic-heading %}</h2>
					<div class="bottom-space">{% tmd pages.mining.asic-text %}</div>

					<a href="https://dashpay.atlassian.net/wiki/display/DOC/ASIC+Pinidea+X11+Miner+DR-1?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.asic-pinidea-btn %}</a>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/ASIC+Pinidea+X11+USB+DU-1?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.asic-pinidea-usb-btn %}</a>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/ASIC+iBeLink+DM384M+X11?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.asic-ibelink-miner %}</a>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/ASIC+X11+Baikal+Mini+Miner?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.asic-baikal-mini-miner %}</a>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/ASIC+Baikal+A900+X11?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.asic-baikal-miner %}</a>

				</div>
				<div class="col-sm-6">
					<h2>{% t pages.mining.cpu-gpu-heading %}</h2>
					<div class="bottom-space">{% tmd pages.mining.cpu-gpu-text %}</div>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/Cpu+Mining?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.cpu-mining-btn %}</a>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/Mining+Hardware+Listing?src=contextnavpagetreemode" class="btn-blue" target="_blank">{% t pages.mining.amd-mining-btn %}</a>
				</div>
			</div>
		</div>
	</section>


	<section class="b-mining-section bottom-space">
		<div class="content">
			<div>
				<a href="https://dashpay.atlassian.net/wiki/display/DOC/Mining+vs.+Masternode" class="btn-white-solid" target="_blank">{% t pages.mining.pools-masternode-btn %}</a>
			</div>
			{% tmd pages.mining.pools-masternode-text %}
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">{% t pages.mining.pools-heading %}</h2>
			<ul class="member-list member-list--merchants">
				{% for pool in pools %}
					{% include mining-pools.html %}
				{% endfor %}
			</ul>

			<p class="warning-bg">{% t pages.mining.pools-text %}</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="bottom-space">{% t pages.mining.pools-stat-heading %}</h2>
			<table id="blocks">
				<thead>
					<tr>
						<th>Height</th>
						<th>Block Time</th>
						<th>Transactions</th>
						<th>Value Out</th>
						<th>Difficulty</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</section>

</div>

