---
layout: default
title: pages.mining.title
description: pages.mining.description
---


{% include hero/mining.html %}
{% include base.html %}


<div class="page page--home">

	<section>
		<div class="section__content">
			<h2 class="section__title">{% t pages.mining.pools-heading %}</h2>

			<p class="section__lead">{% tmd pages.mining.marsternode-text %}</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<div class="row">
				<div class="col-sm-6">

				</div>
				<div class="col-sm-6">

				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="section__content">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="bottom-space">{% t pages.mining.host-heading %}</h2>
				</div>
				<div class="col-sm-6">

				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<div class="section__lead">
			</div>
		</div>
	</section>

	<section class="">
		<div class="section__content">
			<h2 class="bottom-space">P2P</h2>
			<div class="row  class="bottom-space"">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
				</div>
			</div>
		</div>
	</section>

</div>
