<div class="hero hero--blog" id="hero">
	<div class="hero__background">
			<img src="{{ base }}/assets/img/hero/blog.jpg" alt="" class="hero__background-image">
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.blog.title %}</h1>
		<p class="hero__lead">{% t pages.blog.description %}</p>

		<div class="hero__buttons">

			<a href="#" class="btn-white-solid">{% t pages.blog.search-btn %}</a>
			<a href="{{ basenav }}/community/#community-news" class="btn-white-solid">{% t pages.blog.community-news-btn %}</a>

		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
