<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/community.jpg ppi:1,2 class="hero__background-image" %}
		{% srcset_source width:1920 %}
		{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.community.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.community.hero-text %}</p>

		<div class="hero__buttons">
			<a href="/forum/" class="btn-blue-solid">{% t pages.community.hero-forum-btn %}</a>
			<a href="{{ basenav }}/contribute/" class="btn-blue-solid">{% t nav.participate %}</a>
		</div>
		<div class="hero__buttons">

			<a href="{{ basenav }}/graphics/" class="btn-white-solid">{% t pages.community.hero-graphics-btn %}</a>
			<a href="{{ basenav }}/legal/" class="btn-white-solid">{% t pages.community.hero-legal-btn %}</a>
			<a href="#community-development" class="btn-white-solid">{% t pages.community.hero-development-btn %}</a>
			<a href="#community-masternode" class="btn-white-solid">{% t pages.community.hero-masternodes-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" class="btn-white-solid" target="_blank">{% t pages.community.hero-wiki-btn %}</a>
			<!--<a href="#community-media" class="btn-white-solid">{% t pages.community.hero-video-btn %}</a>-->
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
