<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="hero" id="hero">
	<div class="hero__background">

	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.contact.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.contact.hero-text %}</p>

    <div class="row">
      <div class="col-sm-4">
        {% t pages.contact.form-pretext %} <br/>
        {% t pages.contact.form-pretext-2 %}
                <a style="display: inline-block;" href="mailto:contact@dash.org"> Contact us.</a> <!-- !!!remove after form is back up-->
      </div>
      <div class="col-sm-6">
   <!--     <form onsubmit="return false;">-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <input id="contact_name" placeholder="Name" type="text" class="input-block">-->
   <!--         </div>-->
   <!--       </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <input id = 'contact_email' class="input-block" placeholder="Email" type="text">-->
   <!--         </div>-->
   <!--        </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <select id="contact_category" class="form-control input-block" placeholder="category">-->
			<!--	<option value="">Category</option>-->
   <!--             <option value="feedback">Feedback</option>-->
   <!--           </select>-->
   <!--         </div>-->
	  <!--    </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <textarea id="contact_message" placeholder="Message" class="input-block"></textarea>-->
   <!--         </div>-->
   <!--       </div>-->
			<!--<div class="row">-->
			<!--	<div class="col-xs-12">-->
			<!--		<input class="btn-blue-solid reset" type="submit" value="Send Message">-->
			<!--		<div id="msg_sent" style="display: none;"> Message Sent! </div>-->
			<!--	</div>-->
			<!--</div>-->
   <!--     </form>-->
      </div>
    </div>

	</div>


	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>


