<div class="hero" id="hero">
	<div class="hero__background">

	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.contact.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.contact.hero-text %}</p>

    <div class="row">
      <div class="col-sm-4">
        {% t pages.contact.form-pretext %} <br/>
        {% t pages.contact.form-pretext-2 %}
      </div>
      <div class="col-sm-6">
        <form>
          <div class="row">
            <div class="col-xs-12">
              <input placeholder="Name" type="text" class="input-block">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <input class="input-block" placeholder="Email" type="text">
            </div>
            <div class="col-xs-6">
              <select class="form-control" placeholder="category">
								<option value="">Category</option>
                <option value="feedback">Feedback</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea placeholder="Message" class="input-block"></textarea>
            </div>
          </div>
					<div class="row">
						<div class="col-xs-12">
							<input class="submit" type="submit" value="Send Message">
						</div>
					</div>
        </form>
      </div>
    </div>

	</div>

	<div class="hero__content">
		<section class="section section--cta">
			<h5>{% t pages.contact.mail-list-heading %}</h5>
			{% t pages.contact.mail-list-text %}
		</section>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
