<div class="hero" id="hero">
	<div class="hero__background">
		{% capture heroimage %}hero/{% t pages.get-dash.hero-image %}{% endcapture %}
		{% srcset hero/get-dash.jpg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.get-dash.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.get-dash.hero-text %}</p>

		<section>
			<div class="hero__buttons hero__buttons--get-dash">
				<a href="#download" class="btn-white-solid">{% t pages.get-dash.hero-download-btn %}</a>
				<a href="#buydash" class="btn-transparent">{% t pages.get-dash.buy-btn %}</a>
				<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=31326247" class="btn-transparent" target="_blank">{% t pages.get-dash.security-btn %}</a>
			</div>
		</section>
		<p>{% t pages.get-dash.hero-text %}</p>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe hero__stripe--grey"></div>
</div>
