<div class="hero hero--light" id="hero">
	<div class="hero__background">
		{% capture heroimage %}hero/{% t pages.get-dash.hero-image %}{% endcapture %}
		{% srcset hero/get-dash-n.jpg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html logo-color='black' %}


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.get-dash.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.get-dash.hero-text %}</p>

		<section>
			<p id="platform-not-detected" class="callout-blue">{% t pages.get-dash.hero-platform-not-detected %}</p>

			<div class="hero__buttons hero__buttons--get-dash">
				<button id="download-detected-platform-button" href="#" class="btn-blue-solid btn-large">{% t pages.get-dash.hero-download-btn %}</button>
				<a href="../wallets/" class="btn-large btn-white-solid">{% t pages.get-dash.hero-all-wallets-btn %}</a>
			</div>
		</section>
		<div class="hero__buttons">
			<a href="#getdash-wallet-setup" class="btn-white-solid">{% t pages.get-dash.hero-guide-btn %}</a>
			<a href="#getdash-buy" class="btn-white-solid">{% t pages.get-dash.hero-buy-btn %}</a>
			<a href="#getdash-shop" class="btn-white-solid">{% t pages.get-dash.hero-spend-btn %}</a>
			<a href="#getdash-trade" class="btn-white-solid">{% t pages.get-dash.hero-trade-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe hero__stripe--grey-blue"></div>
</div>
