<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/home.jpg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:1280 %}
			{% srcset_source width:1024 %}
			{% srcset_source width:800 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}
	{% include base.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<h1 class="hero__title">{% t pages.graphics.hero-heading %}</h1>
				<p class="hero__lead">{% t pages.graphics.hero-text %}</p>
				<p class="hero__lead">
					{% t pages.graphics.licence %}
					<a href="{% t pages.graphics.licence-link %}" target="_blank">{% t pages.graphics.licence-link-text %}</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
