<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset home/stock-photo-90982809-the-monthly-finances.jpg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:1280 %}
			{% srcset_source width:1024 %}
			{% srcset_source width:800 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.home.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.home.hero-text %}</p>

		<div class="hero__buttons">
			<a href="get-dash/" class="btn-blue-solid btn-large">{% t nav.get-dash %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
