<div class="hero" id="hero">
	<div id="background-video">
		<video loop autoplay width="100%" height="auto" poster="{{ base }}/assets/img/home/stock-photo-90982809-the-monthly-finances.jpg" class="background-video">
		<!--  <source src="assets/videos/Home-BG.m4v" type="video/mp4">
		<source src="assets/videos/Home-BG.webm" type="video/webm">
		<source src="assets/videos/Home-BG" type="video/ogg"> -->
		</video>
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.home.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.home.hero-text %}</p>

		<div class="hero__buttons">
			<a href="#" class="btn-blue-solid btn-large">{% t nav.get-dash %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
