<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/community.jpg ppi:1,2 class="hero__background-image" %}
		{% srcset_source width:1920 %}
		{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.masternodes.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.masternodes.hero-text %}</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/WIAc" class="btn-white-solid" target="_blank">{% t pages.masternodes.hero-what-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/x/JgAGAg" class="btn-white-solid">{% t pages.masternodes.hero-how-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/x/FoBgAw" class="btn-white-solid" target="_blank">{% t pages.masternodes.hero-masternode-mining-btn%}</a>
			<a href="{{ basenav }}/network/#section-network" class="btn-white-solid" >{% t pages.masternodes.hero-network-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
