<div class="hero hero--space" id="hero">
	<div class="hero__background">

		<img src="{{ base }}/assets/img/hero/merchants.png" alt="" class="hero__background-image">

	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.merchants.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.merchants.hero-text %}</p>

		<div class="hero__buttons">
			<a href="https://www.zeemaps.com/map?group=2357566#" target="_blank" class="btn-white-solid">{% t pages.merchants.hero-map-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/display/DOC/Merchants" target="_blank" class="btn-white-solid">{% t pages.merchants.hero-integrate-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/x/GADeAQ" class="btn-white-solid"  target="_blank">{% t pages.merchants.hero-getlisted-btn %}</a>
			<a href="{{ basenav }}/woocommerce/" class="btn-white-solid">{% t pages.merchants.hero-woo-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
