<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/mining.jpeg ppi:1,2 class="hero__background-image" %}
		{% srcset_source width:1920 %}
		{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.mining.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.mining.hero-text %}</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/QYAR" class="btn-white-solid" target="_blank">{% t pages.mining.hero-how-to-btn %}</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CQD7Ag" class="btn-white-solid" target="_blank">{% t pages.mining.hero-asic-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

