<div class="hero hero--space" id="hero">
	<!-- Boids / Particle.js -->
	<div id="boids"></div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.participate.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.participate.hero-text %}</p>

		<div class="hero__buttons">
			<a href="#participate-masternode" class="btn-blue-solid">{% t pages.participate.hero-masternodes-btn %}</a>
			<a href="#participate-mining" class="btn-blue-solid">{% t pages.participate.hero-mining-btn %}</a>
			<a href="#participate-budgets" class="btn-blue-solid">{% t pages.participate.hero-funding-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
