<div class="hero hero--post" id="hero">
	<div class="hero__background">
		{% if page.image %}
			<img src="{{ base }}/assets/img/hero/{% t pages.blog.hero-image %}" alt="" class="hero__background-image">
		{% endif %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<a href="#">Blog — General</a><!-- TODO -->
		<h1 class="hero__title">{% if page.title %}{{ page.title }}{% endif %}</h1>
		<p class="hero__lead">{{ page.date | date: "%b %d, %Y" }}</p>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
