<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/community.jpg ppi:1,2 class="hero__background-image" %}
		{% srcset_source width:1920 %}
		{% srcset_source width:960 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Dash School</h1>
		<p class="hero__lead">by Amanda B. Johnson</p>

		<div class="hero__buttons">
			<a href="https://youtu.be/e7UwwcCKj4Y?list=PLiFMZOlhgsYKKOUOVjQjESCXfR1cCYCod" class="btn-white-solid"  target="_blank">Watch now</a>
			<a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" class="btn-transparent" target="_blank">Youtube</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe hero__stripe--grey"></div>
</div>
