<div class="hero hero--team" id="hero">
	<div class="hero__background">
		<img src="{{ base }}/assets/img/hero/team.jpg" alt="" class="hero__background-image">
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.team.title %}</h1>
		<p class="hero__lead">{% t pages.team.description %}</p>

		<div class="hero__buttons">

			<a href="{% t pages.team.core-proposal-link %}" class="btn-white-solid">{% t pages.team.core-proposal-btn %}</a>
			<a href="{% t pages.team.core-approval-link %}" class="btn-white-solid">{% t pages.team.core-approval-btn %}</a>

		</div>
	</div>
	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
