<div class="hero hero--space" id="hero">

	<!--div class="hero__background">
		{% capture heroimage %}hero/{% t pages.wallets.hero-image %}{% endcapture %}
		{% srcset hero/get-dash-n.jpg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:960 %}
		{% endsrcset %}
	</div-->

	<div class="hero__background">

		<img src="{{ base }}/assets/img/hero/expecto_patronum.png" alt="" class="hero__background-image">

	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.wallets.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.wallets.hero-text %}</p>

		<div class="hero__buttons">
			<a href="#wallets" class="btn-white-solid">{% t pages.wallets.hero-wallets-btn %}</a>
			<a href="https://docs.dash.org/en/stable/wallets/index.html" target="_blank" class="btn-white-solid">{% t pages.wallets.hero-guide-btn %}</a>
			<a href="https://docs.dash.org/en/stable/introduction/safety.html#scams" target="_blank" class="btn-white-solid">{% t pages.wallets.hero-security-btn %}</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
