<div class="hero" id="hero">
	<div class="hero__background">
		{% srcset hero/woocommerce.jpeg ppi:1,2 class="hero__background-image" %}
			{% srcset_source width:1920 %}
			{% srcset_source width:1280 %}
			{% srcset_source width:1024 %}
			{% srcset_source width:800 %}
		{% endsrcset %}
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}
	{% include base.html %} 

	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">{% t pages.woocommerce.hero-heading %}</h1>
		<p class="hero__lead">{% t pages.woocommerce.hero-text %}</p>
		<div class="hero__buttons">
			<a href="https://github.com/nmarley/dashpayments-for-woocommerce" class="btn-blue-solid btn-large" _target="blank">{% t pages.woocommerce.hero-btn %}</a>
			<a href="https://github.com/nmarley/dashpayments-for-woocommerce/releases/download/v0.0.5/dashpay-woocommerce-0.0.5.zip" class="btn-blue-solid btn-large"  _target="blank">{% t pages.woocommerce.hero-btn-download %}</a>
		</div>
		<p>{% t pages.woocommerce.hero-description %} <a href="https://github.com/nmarley/dashpayments-for-woocommerce#requirements" _target="blank">{% t pages.woocommerce.hero-description-link %}</a></p>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>
