<html>
  <head>
    {% include base.html %}
    <meta charset="UTF-8">
    <title>{% if page.title %}{% t page.title %} &mdash; {% endif %}Dash</title>
    <meta name="description" content="{% t page.description %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
  </head>

  <body>

    {{ content }}

    <!-- Footer -->
    <footer class="footer">
      {% include footer.html %}
    </footer>

    <!-- Mobile Nav -->
    <div class="overlay" id="overlay" data-js-overlay-menu>
      {% include nav-mobile.html %}
    </div>

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
    <script src="/dist/js/main.min.js"></script>
    <script>
      function formatNumber (num) {
          return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
      }

      function formatCurrency (num,decimal) {
          var _decimal;
          _decimal = typeof decimal !== "undefined" ? decimal : 2;
          return parseFloat(num).toFixed(_decimal).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
      }
    </script>

  </body>
</html>
