---
layout: default
---

{% include hero/post.html %}

<div class="page page--post">

	<div class="section section--post">
		<div class="section__content content">
			<div class="section__main">
				<div class="postcontent">
					{{ content }}
				</div>

				{% include author.html %}
			</div>
			<aside class="section__sidebar">
				<h3 class="section__sidebar-title">Related</h3>
				{% for post in site.related_posts limit:5 %}
					<article class="featurepost featurepost--sidebar">
						<div class="featurepost__preview {% if post.image %}featurepost__preview--image{% else %}featurepost__preview--no-image{% endif %}">
							{% if post.image %}
								<img src="/assets/img/blog/{{ post.image }}" class="featurepost__image">
							{% endif %}
						</div>

						<h2 class="featurepost__title"><a href="{{ basenav }}{{ post.url }}">{{ post.title }}</a></h2>

						<em class="featurepost__date">{{ post.date | date: "%b %d, %Y" }}</em>

						<p class="featurepost__description">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
						<div class="featurepost__divider"></div>
					</article>
				{% endfor %}
			</aside>
		</div>
	</div>

</div>
