.btn {
	border-radius: 4px;
	border: 0px solid;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 10px;
    line-height: 30px;
    height: 40px;
	display: inline-block;
	@include font-base();
	background-color: $color-blue;
	color: $color-white;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 4px 6px 0px rgba(49,49,93,0.13);
	transition: all .2s ease;
	&:hover {
	    transform: translateY(-1px);
    	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	}
}
.btn-large {
	font-size: 24px;
	padding: 10px 25px;
	height: 50px;
}

.btn-white-solid {
	@extend .btn;
	border-color: $color-white;
	background-color: darken($color-white, 3);
	color: lighten($color-black, 5) !important;
	text-decoration: none;
	&:hover {
		background-color: $color-white;
	}
}

.btn-green {
	@extend .btn;
	background-color: $color-green;
	color: $color-white !important;
	text-decoration: none;
	border: none;
	&:hover {
		background-color: darken($color-green, 3);
		color: $color-white !important;
	}
}

.btn-blue {
	@extend .btn;
	background-color: $color-blue;
	color: $color-white !important;
	text-decoration: none;
	&:hover {
	}
}
.btn-blue-dark {
	@extend .btn;
	background-color: $color-blue-dark;
	color: $color-white !important;
	text-decoration: none;
	&:hover {
	}
}

.btn-blue-solid {
	@extend .btn;
	background-color: $color-blue;
	color: $color-white !important;
	&:hover {
		background-color: lighten($color-blue, 3);
		color: $color-white !important;
	}
}
