.btn {
	border-radius: 5px;
	border: 2px solid;
	padding: 5px 10px;
	display: inline-block;
	font-family: $font-heading;
	font-weight: 300;
}

.btn-white-solid {
	@extend .btn;
	border-color: $white;
	background-color: darken($white, 3);
	margin-bottom: 10px;
	color: lighten($black, 5) !important;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	&:hover {
		background-color: $white;
	}
}

.btn-green {
	@extend .btn;
	background-color: $green;
	padding: 10px 20px 10px 20px;
	color: $white !important;
	text-decoration: none;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	&:hover {
		background-color: darken($green, 3);
		color: $white !important;
	}
}

.btn-blue {
	@extend .btn;
	border-radius: 5px;
	border-color: $blue;
	color: $blue !important;
	text-decoration: none;
	&:hover {
		background-color: $blue;
		color: $white !important;
	}
}

.btn-blue-solid {
	@extend .btn;
	background-color: lighten($blue, 5);
	color: $white !important;
	text-decoration: none;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	&:hover {
		background-color: darken($blue, 3);
		color: $white !important;
	}
}
