// brand colors
$color-black:		#2f2f2f;
$color-white:		#ffffff;
$color-blue:		#1c75bc;

// site colors
$color-red:		#ec2227;
$color-green:		#1dd68a;
$color-gray:		#f0f0f0;
$color-blue-dark:	#0b3b5a;
$color-gray-light: #f7f9fa;

// for the style guide:

@function contrast-color($color, $dark, $light, $threshold: 50) {
	@if (lightness(scale-color($color, $color-green: 30%, $color-blue: -6%, $color-red: 4%)) > $threshold) { // perceptual luminance http://www.workwithcolor.com/color-luminance-2233.htm
		@return $dark; // Lighter background, return dark color
	} @else {
		@return $light; // Darker background, return light color
	}
}

$color:
	('black', $color-black),
	('white', $color-white),

	('blue', $color-blue),
	('red', $color-red),
	('green', $color-green),

	('gray', $color-gray),
	('dark-blue', $color-blue-dark),
	('gray-light', $color-gray-light);

@each $name, $bgcolor in $color {
	.color__tile--#{$name}-bg {
		background-color: $bgcolor;
		color: contrast-color($bgcolor, #000, #fff);
		box-shadow: 0 0 10px -4px contrast-color($bgcolor, black, transparent, 80) inset;
	}
}
