.ctabox {
	white-space: nowrap;
	position: relative;
	margin-bottom: 20px;

	&__cta {
		max-width: 250px;
		width: 100%;
		display: inline-block;
		box-shadow: rgba(0,0,0,0.2) 0 1px 4px;
		margin-right: 20px;
		color: $color-black-light;
		background: #fff;
		text-align: center;
	}

	&__inner,
	.slick-track {
		padding: 20px 0;
	}

	&__link {
		display: block;
		padding-bottom: 16px; // optical
	}

	&__inner {
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			width: 10%;
			background: linear-gradient(to right, white 10%, transparent 100%);
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			right: 0;
			width: 10%;
			background: linear-gradient(to left, white 10%, transparent 100%);
		}
	}

	&--gray-light-bg {
		.ctabox {
			&__inner {
				&::before {
					background: linear-gradient(to right, $color-gray-light 10%, transparent 100%);
				}
				&::after {
					background: linear-gradient(to left, $color-gray-light 10%, transparent 100%);
				}
			}
		}
	}


	&__imagewrapper {
		background: rgba($color-blue-light, 0.1);
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; // 16:9
		position: relative;
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
	}

	&__title {
		color: $color-black-light;
		padding-top: 15px;
		@include font-title-medium();
	}
	&__description {
		color: $color-gray-dark;
		margin: 0 !important; // TODO: get rid of specificity
	}


	&__description {
	}
}
