/*
footer
	nav.content
		section x5
			<text>
			ul
				li
	.footer--menu.content
		.footer--languagePicker
		a x3
	.footer--legal
		.content
			.footer--copyright
			a
*/

.footer {
	background-color: #333333;
	color: #717171;
	padding-top: 4em;
	padding-bottom: 3em;


	a {
		color: $color-white;
    	line-height: 1.7;
	}

	&__nav {
		@extend %clearfix;
	}

	&__section {
    	vertical-align: top;
		display: inline-block;
		padding: 20px;
		// display: table-cell;
		> ul {
			margin: 1em 0 0;
			padding: 0;
			> li {
				list-style: none;
			}
		}
	}
	&__menu {
		padding: 20px 20px 10px;
		a {
			color: #717171;
			padding: 0 7px;
		}
	}

	&__legal,
	&__copyright,
	&__menu {
		text-align: center;
	}

	@include mq($to: extrasmall) {
		&__section {
			display: inline-block;
			padding: 20px;
		}
		&__nav {
			display: block;
		}
		&__legal {
			padding: 0 20px 20px 0;
		}
		&__copyright {
			display: block;
		}
	}
}
