#top {
	border-bottom: 1px solid rgba($white, 0.35);
	margin-bottom: 20px;
}

.hero {
	position: relative;
	min-height: 600px;
	color: $white;

	&__title, &__lead, &__text {
		text-shadow: 2px 2px 5px rgba(black, 0.2);
	}

	&__title {
		margin-bottom: 15px; /*optical*/
		font-size: 80px;
		line-height: 1.2;
		font-weight: 200;
		letter-spacing: -0.01em;
    	margin-left: -7px; /*optical*/
	}

	&__lead {
		font-family: $font-heading;
		font-weight: 200;
		font-size: 24px;
		line-height: 1.25;
	}

	&__text {
		opacity: 0.8;
	}

	&__lead,
	&__text {
		& + * {
			margin-top: 20px; /*optical*/
		}
		& + .hero__buttons {
			margin-top: 34px; /*optical*/
		}
	}

	&__content {
		max-width: $content-max-width;
		padding: ($size-gutter * 4) 0 ($size-gutter * 5);
		margin: 0 auto;
	}

	&__buttons {
		margin-bottom: 20px; /*optical*/
	}
}
