$m: 'info-grid';

.#{$m} {
	&__content {
		@include clearfix();
		@media (min-width: 767px) {
			display:flex;
			align-items:stretch;
		}
		&:before{
			content: '';
		}
	}
	&__item {
		margin-bottom: 70px;
		@media (min-width: 767px) {
			width: calc(100% / 3);
			display: flex;
			flex-direction: column;
		}
		&-icon {
			position: relative;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			// border: 1px solid rgba($color-gray-dark, 0.1);
			background-color: rgba($color-white, 0.5);
			margin-bottom: 1.15em;

			@include mq($to: small) {
				margin-left: auto;
				margin-right: auto;
			}

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		&-title {
			@include font-title-small();
			text-transform: none;
			margin-bottom: 0.5em;
			padding-right: 2em;
		}
		&-text {
			color: $color-gray-dark;
			margin-bottom: auto;
			padding-right: 2em;
			padding-bottom: 2em;
		}
		&-link {
			@extend .btn-blue;
			margin-bottom: 0.25em;
			display: flex;
			align-self: baseline;
			align-items: center;
			line-height: 1em;
			&::after {
				content: '→';
				margin-left: 0.5em;
			}
		}
	}

	&--wide {
		.#{$m}__item {
			@extend .col-sm-5;
			&:nth-child(2n) {
				@extend .col-sm-offset-1;
			}
		}
	}

	&--on-white {
		.#{$m}__item-icon {
			background-color: rgba($color-gray-light, 0.9);
		}
	}
}
