#title{
	background-color: rgba($color-blue, .1);
	margin-bottom: 40px;
	h1 {
		padding-top: 60px;
		padding-bottom: 20px;
		font-size: 30px;
	}
}

.main-col {
	float: left;
	width: 80%;
	padding-right: 30px;
	box-sizing: border-box;
}

.video {
	width: 100%;
	background: #000;
	text-align: center;
	margin: 40px 0 40px 0;
}

iframe {
	width: 100%;
	height: auto;
	min-height: 450px;
	box-sizing: border-box;
}
.feature {
	margin: 40px 0 40px 0;
	img {
		width: 75px;
		height: auto;
	}
	.col {
		float: right;
		display: inline-block;
		width: 88%;
	}
}
.divider {
	border-top: 1px solid $color-gray;
	text-align: center;
	img {
		width: 40px;
		height: auto;
		margin-top: -20px;
	}
}

.boxed-content {
	border: 1px solid $color-blue;
	padding: 20px 40px 0px 30px;
	margin-top: 20px;
	li {
		margin-bottom: 20px;
	}
}

.sidebar {
	float: right;
	width: 20%;
	box-sizing: border-box;
}

.downloads {
		border: 2px solid $color-gray;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: 20px;
		h2 {
			font-size: 16px;
			text-transform: uppercase;
			color: $color-black;
			margin: 0px;
		}
	}
	.callout-blue {
		border: 2px solid $color-blue;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		h2 {
			font-size: 64px;
			margin-bottom: 20px;
			color: $color-blue;
		}
		span {
			color: $color-blue;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 30px;
			display: block;
		}

	}
	.callout-green {
		border: 2px solid $color-green;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		h2 {
			font-size: 64px;
			margin-bottom: 20px;
			color: $color-green;
		}
		span {
			color: $color-green;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 30px;
			display: block;
		}

	}
	
.single-col {
	width: 100%;
	box-sizing: border-box;
}

.hero-image {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.col-2{
	.col {
		width: 50%;
		box-sizing: border-box;
		padding: 0 50px;
		border-right: 2px solid $color-gray;
			img.icon {
				width: 25px;
				height: auto;
				float: left;
				margin-top: 15px;
				padding-right: 10px;
			}
	}
	.first {
		padding-left:0;
	}
	.last {
		border-right: none !important;
	}
}
