body {
	margin: 0 auto;
	padding: 0;
	color: $color-black;
	background-color: $color-white;
}

// Acutally optimising for 4K+, pff you crazy.
@include mq($from: 3840px) {
	html {
		background-color: #f8f8f8;
	}
	body {
		max-width: 3840px;
	}
}

.content {
	width: $content-max-width;
	max-width: 96%;
	max-width: calc(100% - 40px); // TODO: Refactor this. Use padding on container instead
	margin: 0 auto;
}

.col {
	float: left
}

.button_container {
	display: none;
}

// non-semantic concessions AKA utility classes
.clear {
	clear: both;
	display: block;
}

.right {
	float: right;
	display: inline-block;
}

.left {
	float: left;
	display: inline-block;
}
