.globecontainer {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		@include mq($from: 1300px) {
			left: 30%;
			opacity: 1;
		}
	}
}
