$m: 'nav';

$nav-height: 90px;

.#{$m} {
	float: right;
	text-align: right;

	@include mq($to: large) {
		display: none;
	}

	&__list {
		list-style: none;
	}

	&__item {
		position: relative;
		display: inline-block;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: $nav-height;
		&:last-child > .nav__link {
			padding-right: 0;
		}

		&--languages {
			.nav__link {
				padding-right: 0;
			}
			& > .nav__link {
				padding: 0 25px;
			}
			.nav__sublist {
				padding-right: 25px;
			}
		}

		&:hover {
			.nav__sublist {
				display: block;
				opacity: 1;
				animation: fadein 0.4s;
			}
		}
	}

	&__sublist {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: -10px;
		padding-top: 0;

		&::before {
			content: '';
			display: block;
			width: 15px;
			height: 1px;
			background: $color-white;
			opacity: 0.8;
			position: absolute;
			top: -7px;
			right: 25px;
		}
	}

	&__subitem {
		line-height: 40px;
		white-space: nowrap;
	}

	&__link {
		display: inline-block;
		padding: 0 10px;
		@include link-style(
			$link: rgba($color-white, 1),
			$visited: rgba($color-white, 1),
			$hover: rgba($color-white, 1),
			$active: rgba($color-white, 1));
		letter-spacing: -0.008em;

		.flag {
			margin-top: pxToRem(4px);
			margin-left: pxToRem(10px);
		}
	}

	&--black {
		.#{$m} {
			&__link {
				@include link-style(
					$link: rgba($color-black, 1),
					$visited: rgba($color-black, 1),
					$hover: rgba($color-black, 1),
					$active: rgba($color-black, 1));
			}
		}
	}
}


@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
