@import "../../node_modules/sass-burger/burger";

.burger {
	/* DEV: reset styles  */
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	display: inline-block;
	position: absolute;
	z-index: 105;
	top: 23px;
	right: 25px;
    height: 45px;
    width: 50px;
    padding: 5px;

	@include mq($from: large) {
		display: none;
	}

	&__burger {
		@include burger(40px, 3px, 7px, #fff);
	}

}

.burger.is-active {
	.burger__burger {
		@include burger-to-cross;
	}
}

.overlay {
	position: fixed;
	background: $color-black;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	z-index: 100;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;

	.logo {
		width: 180px;
		height: auto;
		top: 30px;
		left: 20px;
		position: absolute;
	}

	nav {
		position: relative;
		height: 100%;
		padding-top: 120px;
		padding-bottom: 120px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		font-size: 36px;
		font-weight: 200;
		text-align: center;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		margin-top: 0px;
		display: inline-block;
		position: relative;
		height: 50%;
		li {
			display: block;
			position: relative;
			opacity: 0;
		}
		a {
			display: block;
			position: relative;
			color: $color-white;
			text-decoration: none;
			overflow: hidden;
		}
		a:hover:after, a:focus:after, a:active:after {
			width: 100%;
		}
	}

	.sign-up-btn {
		border: none;
		padding: 30px;
		color: $color-green !important;
		&:hover {
			background: none !important;
			color: $color-green !important;
		}
	}
}
.overlay.is-open {
	opacity: 1;
	visibility: visible;
	height: 100%;
	li {
		animation: fadeInRight .5s ease forwards;
		animation-delay: .35s;
	}
	@for $i from 1 through 10 {
		li:nth-of-type(#{$i}) {
			animation-delay: (0.4s + (0.05s * $i));
		}
	}

}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
