@import "../../node_modules/sass-burger/burger";

.burger {
	/* DEV: reset styles  */
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	display: inline-block;
	position: absolute;
	z-index: 105;
	top: 23px;
	right: 25px;
    height: 45px;
    width: 50px;
    padding: 5px;

	@include mq($from: large) {
		display: none;
	}

	&__burger {
		@include burger(40px, 3px, 7px, #fff);
	}

}

.burger.is-active {
	.burger__burger {
		@include burger-to-cross;
	}
}

.overlay-menu {

	&__nav {
		position: relative;
		height: 100%;
    	height: 100vh;
		padding-top: 120px;
		padding-bottom: 120px;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		text-align: center;
		@include font-title-xlarge();
		line-height: 60px;
	}

	&__link {
		display: block;
		position: relative;
		text-decoration: none;
		overflow: hidden;

		&, &:visited, &:hover, &:active {
			color: $color-white;
		}

		.flag {
			margin-top: 2px;
			margin-right: 4px;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		margin-top: 0px;
		display: inline-block;
		position: relative;
		height: 50%;
	}

	&__item {
		display: block;
		position: relative;
		opacity: 0;

		&--languages {
			margin-top: 20px;
			.overlay-menu__subitem{
				margin-right: 0;
			}
		}
	}

	&__sublist {
		width: 100%;
		max-width: 420px;
		padding: 0 30px;
		text-align: left;
		display: inline-block;
	}

	&__subitem {
		display: inline-block;
		text-align: center;
		@include font-base();
		line-height: 40px;
		margin-right: 10px;
		margin-left: 10px;
	}

}

.overlay {
	position: fixed;
	background: $color-blue;
	// background: $gradient-dash-sky;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	z-index: 100;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;

	.logo {
		width: 180px;
		height: auto;
		top: 30px;
		left: 20px;
		position: absolute;
	}

	.sign-up-btn {
		border: none;
		padding: 30px;
		color: $color-green !important;
		&:hover {
			background: none !important;
			color: $color-green !important;
		}
	}
}
.overlay.is-open {
	opacity: 1;
	visibility: visible;
	height: 100%;
	li {
		animation: fadeInRight .5s ease forwards;
		animation-delay: .35s;
	}
	@for $i from 1 through 10 {
		li:nth-of-type(#{$i}) {
			animation-delay: (0.4s + (0.05s * $i));
		}
	}

}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
