$m: 'section';

.#{$m} {
	padding-bottom: 100px;

	&--claim {
		text-align: center;
		.#{$m} {
			&__icon {
				display: inline-block;
			}

			&__title {
				@include font-title-xxlarge();
				margin-bottom: 17px;
			}
			&__lead {
				@include font-title-xlarge-subline();
				color: $color-gray-dark;
			}
		}
	}

}
