$m: 'section';

.#{$m} {
	padding-bottom: 50px;
	width: 100%;

	&__content {
		width: 100%;
		max-width: $content-max-width;
    	padding: 0 20px;
		margin: 0 auto;
	}

	&--claim {
		text-align: center;
		.#{$m} {
			&__icon {
				display: inline-block;
			}

			&__title {
				@include font-title-xxlarge();
				margin-bottom: 20px;
			}
			&__lead {
				@include font-title-xlarge-subline();
				color: $color-gray-dark;
			}
		}
	}

	&--gray-light-bg {
		padding-top: 50px;
		margin-bottom: 50px;
		background: $color-gray-light;
	}

	&--cta {
		text-align: center;
	}

	&--home-cta {
		text-align: center;
		padding-bottom: 60px;
		width: 100%;

		.#{$m} {
			&__title {
				@include font-title-large();
				margin-bottom: 20px;
			}
			&__btn-grp {
				margin: 25px 0;
				@include mq($to: 600px) { // optical
					& > * {
						width: 100%;
					}
				}
			}
			&__content {
				max-width: 800px;
			}
		}
	}
}
