// @import "fonts/worksans/bold";
// @import "fonts/worksans/medium";
// @import "fonts/open-sans/regular";
// @import "fonts/open-sans/italic";
@import "fonts/montserrat/montserrat";

$font-family-body: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-heading: $font-family-body;

$font-size-base: 17px;
$font-size-base-plus: 19px;
$font-size-medium: 24px;
$font-size-large: 30px;
$font-size-xlarge: 40px;
$font-size-xxlarge: 80px;

$line-height-base: 1.5;
$line-height-heading: 1.1;




body {
	font-family: $font-family-body;
	font-size: ($font-size-base / 16px * 100%);
	line-height: $line-height-base;
	font-weight: 300;
}

a {
	color: $color-blue;
	text-decoration: none;
	&:hover, &:focus {

	}
	&:active {

	}
	&:visited {
		color: $color-blue;
	}
}

h1, h2, h3 {
	font-family: $font-family-heading;
	line-height: $line-height-heading;
	font-weight: 300;
}

h1 {
	font-size: $font-size-xlarge;
	font-weight: 300;
}

h2 {
	font-size: $font-size-large;
	color: $color-blue;
}

h3 {
	font-size: $font-size-medium;
	color: $color-black;
}

a {
	text-decoration: none;
	color: $color-blue;
}
