// @import "fonts/worksans/bold";
// @import "fonts/worksans/medium";
// @import "fonts/open-sans/regular";
// @import "fonts/open-sans/italic";
@import "fonts/montserrat/montserrat";

$font-body: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
$font-heading: $font-body;

$font-base-size: 17px;

body {
	font-family: $font-body;
	font-size: ($font-base-size / 16px * 100%);
	line-height: 1.5;
	font-weight: 300;
}

p {
	font-size: $font-base-size;
	line-height: 1.5;
	a {
		color: $blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1, h2, h3 {
	font-family: $font-heading;
	font-weight: 300;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 300;
}

h2 {
	font-size: 28px;
	color: $blue;
}

h3 {
	font-size: 20px;
	color: $black;
}

a {
	text-decoration: none;
	color: $blue;
}
