.hero__background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	overflow: hidden;
	&:after {
		content: '';
		background-image: $gradient-default-overlay-blue;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&_no-overlay{
		&:after {
			display: none;
		}
	}
}
.hero__background-image {
	position: relative;
	top: 20%;
	transform: translateY(-20%);
	width: 100%;
	height: auto;
	min-height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
}
