#background-video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	height: 600px;
	overflow: hidden;
	&:after {
		content: '';
		background-image: linear-gradient(to bottom, rgba(black, 0.5), transparent);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.background-video {
		position: relative;
		top: 40%;
		transform: translateY(-40%);
		width: 100%;
		height: auto;
		min-height: 100%;
	}
}

@media (min-aspect-ratio: 16/9) {
  .background-video  {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1024px) {
	#background-video {
		// background: url('../img/Home-BG.jpg') center center / cover no-repeat;
		.background-video {
		    display: none;
		}
	}
}
